body {
  overflow-x: hidden;
  width: 100vw;
}

.container {
  position: relative;
  max-width: 100vw;
  padding: 0 calc((100vw - var(--max-width)) / 2);
  margin: 0 auto;
  * {
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }
}
