* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: $textColor;
  line-height: 1.2;
  font-family: $fontFamily;
}

a {
  text-decoration: none;
  color: $linkColor;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

ul li {
  list-style: none;
}
