.container {
    max-width: 78%;
    position: relative;
    margin: 50px auto;
    padding: 20px;
    background: #f0f8ff;
    border: 1px solid #87ceeb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Your section styles */
section {
    background: #f0f8ff;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    color: #1e90ff;
}

.blog__group .date,
.blog__group .author-info {
    background-color: #deebfb;
    color: #333;
    font-family: Arial, sans-serif; /* Kiểu font chữ */
    font-size: 16px; /* Kích thước chữ */
    padding: 10px; /* Khoảng cách bên trong thẻ p */
    margin: 10px 0; /* Khoảng cách giữa các đoạn văn */
    border: 1px solid #ccc; /* Viền */
}

.author-info p:nth-child(1) {
    color: #2075ca !important;
    font-size: 1.3rem;
    text-decoration: underline;
}

.container img {
    top: 0;
    right: -28%;
    width: 21%;
    position: absolute;
}

.form-post {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.form-control {
    margin-bottom: 15px;
}

.form-control label {
    font-weight: bold;
}

.form-control input[type='text'],
.form-control textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    outline: none;
}

.form-control button {
    width: 100%;
    padding: 10px;
    background: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-control button:hover {
    background: #187bcd;
}

section {
    background: #f0f8ff;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #87ceeb;
    border-radius: 5px;
    color: #1e90ff;
}

section p {
    margin: 10px 0;
    font-weight: bold;
}

.border {
    width: 100%;
    margin: 23px 0px;
}

.form label {
    margin-bottom: 10px;
}

/* body {
  background: #183253;
} */

.profile {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile li {
    font-weight: bold;
}

.profile li:nth-child(2) {
    margin-left: auto;
}

.profile li:nth-child(1) span {
    color: #1e90ff;
}

.logout a {
    text-decoration: none;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.logout a:hover {
    background-color: #1e90ff;
    color: #fff;
}

.btn-create-account {
    margin-top: 20px;
    background: #1e90ff;
    color: white;
}

.btn-create-account:hover {
    background: #1e60a2;
    color: white;
}

.btn-Login,
.btn-Login-page,
.btn-Register-form {
    background: #1e90ff;
    color: white;
}

.btn-Login:hover,
.btn-Login-page:hover,
.btn-Register-form:hover {
    background: #1e60a2;
    color: white;
}

.login {
    width: 60%;
    margin: 0 auto;
}
.btn-Register-form {
    margin: 15px auto;
    width: 60%;
}

.register {
    margin-bottom: 10px;
}

.title-textarea {
    margin: 0;
}

.form-post button {
    background: #1966b6bf;
}

.form-post .form {
    display: flex;
    flex-direction: column;
}

.text-center {
    padding: 10px;
    background: #1e90ff;
    width: 30%;
    color: white;
    font-size: 1.4rem;
    border-radius: 21px;
    text-align: center;
}

.text-center:hover {
    background: #255380;
}

.container .text-center-register {
    background: none;
    color: #333;
    width: 100%;
}

.input-date {
    margin-top: 10px;
}

.form-post .btn-primary {
    margin: 20px 0;
}

/* loading*/

@keyframes loader {
    to {
        opacity: 0.1;
        transform: translateY(-1rem);
    }
}

.loading-container {
    display: flex;
    justify-content: center;
}

.loading-container > div {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    background: #212ad4;
    border-radius: 50%;
    animation: loader 1s infinite alternate;
}

.loading-container > div:nth-child(2) {
    animation-delay: 0.15s;
}

.loading-container > div:nth-child(3) {
    animation-delay: 0.3s;
}

.loading-container > div:last-child {
    animation-delay: 0.45s;
}

.loading {
    position: fixed;
    inset: 0;
    background-color: #1c09463b;
}

.loading-container {
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.loading.d-none {
    display: none;
}

/* .blog__group {
  display: flex;
  width: 100%;
} */

/* .author-info__content {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 100;
  text-decoration: none;
  line-height: 1.8rem;
} */

.author-info__content {
    width: 80%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;

    /* margin: 12px 4px 12px 8px; */
}
.author-info__link a {
    padding: 5px 13px;
    border-radius: 11px;
    border: 1px solid #2075ca;
    color: #2075ca;
}

.author-info__link {
    margin-top: 26px;
}

.blog-section {
    max-width: 78%;
    position: relative;
    margin: 30px auto;
    padding: 20px;
    background: #f0f8ff;
    border: 1px solid #87ceeb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-detail__header {
    cursor: pointer;
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline;
    margin-bottom: 30px;
}

.blog-detail__header a {
    color: #1e90ff;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 10px 0;
}

.form label {
    margin-right: auto;
}

.notify-response {
    position: absolute;
    background: linear-gradient(62deg, rgb(0, 102, 204) 0%, rgb(0, 153, 153) 100%);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transform: translate(0px, 0px);
    top: -59px;
    left: 50%;
    transform: translateX(-60%);
    padding: 10px;
}

button.notify-close {
    margin-left: 2px;
    font-size: 13px;
    border: none;
    background: transparent;
}

body {
    position: relative;
    top: 20px;
    /* right: 0; */
}

.author-info__name {
    font-size: 1.5rem;
}

.author-info__name a {
    color: #2075ca !important;
    text-decoration: underline !important;
}
