.main-product {
  background-image: url(../../images/background-main-product.svg);
  position: relative;
  height: 470px;
  transform: translateY(46px);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }

  .container {
    max-width: 1440px;

    .title {
      padding-top: 84px;
      color: #fff;
      font-size: 3.8rem;
      font-weight: 800;
      line-height: 1.31;
      text-align: center;
      transform: translateX(9px) translateY(1px);
    }

    .content {
      position: relative;

      .desc {
        margin-top: 60px;
        color: #fff;
        max-width: 976px;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(8px) translateY(-1px);
      }

      .img-left,
      .img-right {
        position: absolute;
      }

      .img-left {
        top: -55px;
        left: 65px;
        transform: translateX(11px);
      }

      .img-right {
        bottom: -64px;
        right: 70px;
        transform: translateY(4px) translateX(1px);
      }
    }
  }
}

@media only screen and (max-width: 1499.98px) {
  .main-product {
    .container {
      max-width: 1320px;

      .content {
        .img-left {
          left: 23px;
        }

        .img-right {
          right: 38px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1399.98px) {
  .main-product {
    .container {
      max-width: 1140px;

      .content {
        .desc {
          max-width: 780px;
        }

        .img-left {
          left: 23px;
        }

        .img-right {
          right: 38px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199.98px) {
  .main-product {
    .container {
      max-width: 960px;

      .content {
        .desc {
          max-width: 626px;
        }

        .img-left {
          top: -48px;
        }

        .img-right {
          bottom: -44px;
          right: 32px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991.98px) {
  .main-product {
    .container {
      max-width: 720px;

      .content {
        .desc {
          max-width: 540px;
        }

        .img-left,
        .img-right {
          width: 80px;
        }

        .img-left {
          top: -40px;
          left: -3px;
        }

        .img-right {
          bottom: -14px;
          right: -6px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .main-product {
    .container {
      max-width: 540px;

      .title {
        font-size: 3rem;
      }

      .content {
        .desc {
          font-size: 1.6rem;
          max-width: 395px;
        }

        .img-left,
        .img-right {
          width: 60px;
        }

        .img-left {
          top: -16px;
          left: 0px;
        }

        .img-right {
          bottom: -16px;
          right: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 575.98px) {
  .main-product {
    .container {
      max-width: 320px;

      .title {
        font-size: 2.4rem;
        padding-top: 40px;
      }

      .content {
        .desc {
          font-size: 1.4rem;
          max-width: 228px;
        }

        .img-left,
        .img-right {
          width: 50px;
        }

        .img-left {
          top: -16px;
          left: -7px;
        }

        .img-right {
          bottom: -10px;
          right: 0px;
        }
      }
    }
  }
}
