.quantity-section {
  .container {
    max-width: 1440px;

    .container-inner {
      margin-top: 120px;

      .title {
        font-size: 3.8rem;
        font-weight: 800;
        line-height: 1.31;
        max-width: 670px;
        margin: 0 auto;
        text-align: center;
        padding-top: 3px;
        padding-left: 3px;
        transform: translateX(3px) translateY(-2px);
      }

      .desc {
        margin-top: 30px;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.53;
        max-width: 772px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-left: 12px;
        transform: translateY(-3px) translateX(2px);
      }

      .quantity-list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 26px;
        height: 716px;
        margin-top: 30px;
        position: relative;
        transform: translateY(-12px) translateX(6px);

        &::after,
        &::before {
          content: "";
          position: absolute;
          width: 282px;
          height: 282px;
          background-color: #dcffca;
          border-radius: 50%;
          z-index: -1;
          transform: translateY(14px);
        }

        &::before {
          top: 0;
          left: 0;
        }

        &::after {
          content: "";
          bottom: 0;
          right: 0;
          background-color: #ffd5bd;
        }

        .quantity-item {
          box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
          padding: 40px;
          border-radius: 4px;
          background-color: #fff;
          padding-left: 48px;
          padding-top: 30px;

          &:not(:nth-child(2)) {
            width: 353px;
            height: 405px;
          }

          &:nth-child(2) {
            width: 411px;
            height: 471px;
            padding-top: 62px;
          }

          .icon {
            display: inline-block;
            padding: 23px;
            border-radius: 12px;
            background-color: #fff0e7;
            transform: translateY(10px) translateX(-4px);
          }

          .icon-center {
            background-color: #f2ffec;
          }

          .number {
            display: block;
            margin: 28px 0 30px;
            font-size: 5.2rem;
            font-weight: 800;
            line-height: normal;
            transform: translateY(5px) translateX(-2px);
          }

          .desc {
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.54;
            max-width: 267px;
            text-align: left;
            padding-left: 2px;
            transform: translateY(6px) translateX(-6px);
          }

          .desc-center {
            max-width: 329px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1499px) {
  .quantity-section {
    .container {
      max-width: 1320px;

      .container-inner {
        .quantity-list {
          &::after,
          &::before {
            width: 258px;
            height: 258px;
          }

          .quantity-item {
            &:not(:nth-child(2)) {
              width: 322px;
            }

            &:nth-child(2) {
              width: 375px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1399px) {
  .quantity-section {
    .container {
      max-width: 1140px;

      .container-inner {
        .quantity-list {
          &::after,
          &::before {
            width: 223px;
            height: 223px;
          }

          .quantity-item {
            &:not(:nth-child(2)) {
              width: 276px;
            }

            &:nth-child(2) {
              width: 321px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .quantity-section {
    .container {
      max-width: 960px;

      .container-inner {
        .quantity-list {
          column-gap: 20px;
          height: 640px;

          &::after,
          &::before {
            width: 152px;
            height: 152px;
          }

          &::before {
            top: 34px;
          }

          &::after {
            bottom: 34px;
          }

          .quantity-item {
            padding: 20px;

            &:not(:nth-child(2)) {
              width: 234px;
            }

            &:nth-child(2) {
              width: 272px;
            }

            .icon {
              padding: 18px;
            }

            .number {
              font-size: 4.6rem;
            }

            .desc {
              font-size: 2rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .quantity-section {
    .container {
      max-width: 720px;
      position: relative;
      //   z-index: -1;

      .container-inner {
        .quantity-list {
          flex-direction: column;
          row-gap: 20px;
          height: 640px;
          max-width: 100%;
          margin-top: 80px;

          &::after,
          &::before {
            width: 141px;
            height: 141px;
          }

          &::before {
            top: 0;
            left: 50%;
            transform: translateY(-50%) translateX(-100%);
          }

          &::after {
            bottom: 0;
            left: 50%;
            transform: translateY(50%) translateX(50%);
          }

          .quantity-item {
            padding: 20px;
            max-width: 100%;
            display: flex;
            align-items: center;
            column-gap: 20px;

            &:not(:nth-child(2)) {
              width: 100%;
              height: 240px;
            }

            &:nth-child(2) {
              width: 100%;
              height: 240px;
              padding-top: 0;
            }

            .icon {
              padding: 18px;
              margin-right: auto;
            }

            .number {
              font-size: 4.6rem;
            }

            .desc {
              font-size: 2rem;
              max-width: 100%;
              margin: 0;
            }

            .desc-center {
              max-width: 326px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .quantity-section {
    .container {
      max-width: 540px;

      .container-inner {
        .title {
          font-size: 3rem;
          max-width: 540px;
        }

        .desc {
          max-width: 540px;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .quantity-section {
    .container {
      max-width: 320px;

      .container-inner {
        .title {
          font-size: 2rem;
          max-width: 320px;
        }

        .desc {
          max-width: 320px;
        }

        .quantity-list {
          height: fit-content;
          margin-top: 40px;

          &::after,
          &::before {
            width: 62px;
            height: 62px;
          }

          &::before {
            top: 0;
            left: 0;
            transform: translateY(-50%) translateX(-50%);
          }

          &::after {
            bottom: 0;
            left: 100%;
            transform: translateY(50%) translateX(-50%);
          }

          .quantity-item {
            flex-direction: column;
            align-items: center;

            .icon {
              margin: 0;
              img {
                width: 30px;
              }
            }

            .number {
              font-size: 3rem;
              margin: 16px 0;
            }

            .desc {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 460px) {
  .quantity-section {
    .container {
      max-width: 320px;

      .container-inner {
        .title {
          font-size: 2rem;
          max-width: 320px;
        }

        .desc {
          max-width: 320px;
        }

        .quantity-list {
          height: fit-content;
          margin-top: 40px;

          &::after,
          &::before {
            width: 50px;
            height: 50px;
          }

          &::before {
            top: 0;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
          }

          &::after {
            bottom: 0;
            left: 50%;
            transform: translateY(50%) translateX(-50%);
          }

          .quantity-item {
            flex-direction: column;
            align-items: center;

            .icon {
              margin: 0;
              img {
                width: 30px;
              }
            }

            .number {
              font-size: 3rem;
              margin: 16px 0;
            }

            .desc {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
