* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #2c2c2c;
  line-height: 1.2;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 20px 0;
  color: #2c2c2c;
}

h1 {
  font-size: 6.8rem;
}

h2 {
  font-size: 5.2rem;
}

h3 {
  font-size: 3.8rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2rem;
}

p {
  margin-bottom: 15px;
}

:root {
  --grey-1000: #3d3c3c;
  --grey-900: #515151;
  --grey-800: #656565;
  --grey-700: #7a7a7a;
  --grey-600: #8e8e8e;
  --grey-500: #a3a3a3;
  --grey-400: #b7b7b7;
  --grey-300: #cbcbcb;
  --grey-200: #e0e0e0;
  --grey-100: #f4f4f4;
  --green-1000: #216000;
  --green-900: #2e8900;
  --green-800: #46b20f;
  --green-700: #63db25;
  --green-600: #81ff41;
  --green-500: #98ff64;
  --green-400: #aeff86;
  --green-300: #c5ffa8;
  --green-200: #dcffca;
  --green-100: #f2ffec;
  --orange-1000: #662400;
  --orange-900: #8e3300;
  --orange-800: #b74200;
  --orange-700: #e05000;
  --orange-600: #ff6916;
  --orange-500: #ff8440;
  --orange-400: #ff9f6a;
  --orange-300: #ffba94;
  --orange-200: #ffd5bd;
  --orange-100: #fff0e7;
  --main-color: var(--green-800);
  --content: #2c2c2c;
  --white: #fff;
  --max-width: 1440px;
}

.section-title {
  text-align: center;
  font-size: 3.1667rem;
  color: #2c2c2c;
  font-weight: 800;
  line-height: 4.1649rem;
}

.section-product__title {
  text-align: center;
  font-size: 2.3333rem;
  font-weight: 700;
  line-height: normal;
  margin: 6px 0px 0px 0;
  position: relative;
  height: 56.667px;
}
.section-product__title::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 41px;
  height: 2px;
  background-color: var(--grey-500-main);
  transform: translateX(-20px);
}

.btn {
  border-radius: 6.667px;
  background: var(--green-800-main, #46b20f);
  padding: 14px;
  justify-content: center;
  display: flex;
  color: var(--white, #fff);
  text-align: center;
  font-size: 1.66667rem;
  font-weight: 700;
  margin: 12px auto 0 auto;
}

.section__desc {
  margin: 0 auto;
  color: #2c2c2c;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.0417rem;
  max-width: 643.333px;
  margin-top: 4px;
}

:root {
  --container-width: 1200px;
  --container-padding: 15px;
  --max-column: 12;
  --column-space: 20px;
  --spacer: 1rem;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--column-space) / 2);
}
.row.g-0 {
  margin: 0 calc(-1 * var(--column-space) / 2);
  --column-space: 0;
}
.row.g-0 > [class^=col-] {
  padding: 0 calc(var(--column-space) / 2);
  margin-bottom: var(--column-space);
  --column-space-gutter: 0;
}
.row.g-1 {
  margin: 0 calc(-1 * var(--column-space) / 2);
  --column-space: calc(0.25 * var(--spacer));
}
.row.g-1 > [class^=col-] {
  padding: 0 calc(var(--column-space) / 2);
  margin-bottom: var(--column-space);
  --column-space-gutter: calc(0.25 * var(--spacer));
}
.row.g-2 {
  margin: 0 calc(-1 * var(--column-space) / 2);
  --column-space: calc(0.5 * var(--spacer));
}
.row.g-2 > [class^=col-] {
  padding: 0 calc(var(--column-space) / 2);
  margin-bottom: var(--column-space);
  --column-space-gutter: calc(0.5 * var(--spacer));
}
.row.g-3 {
  margin: 0 calc(-1 * var(--column-space) / 2);
  --column-space: calc(1 * var(--spacer));
}
.row.g-3 > [class^=col-] {
  padding: 0 calc(var(--column-space) / 2);
  margin-bottom: var(--column-space);
  --column-space-gutter: calc(1 * var(--spacer));
}
.row.g-4 {
  margin: 0 calc(-1 * var(--column-space) / 2);
  --column-space: calc(1.5 * var(--spacer));
}
.row.g-4 > [class^=col-] {
  padding: 0 calc(var(--column-space) / 2);
  margin-bottom: var(--column-space);
  --column-space-gutter: calc(1.5 * var(--spacer));
}
.row.g-5 {
  margin: 0 calc(-1 * var(--column-space) / 2);
  --column-space: calc(3 * var(--spacer));
}
.row.g-5 > [class^=col-] {
  padding: 0 calc(var(--column-space) / 2);
  margin-bottom: var(--column-space);
  --column-space-gutter: calc(3 * var(--spacer));
}
.row [class^=col-] {
  --column-width: calc(100% / (var(--max-column) / var(--column-number)));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
  padding: 0 calc(var(--column-space) / 2);
  margin-bottom: var(--column-space);
}

.d-none {
  display: none;
}

.col-1 {
  --column-number: 1;
}

.col-2 {
  --column-number: 2;
}

.col-3 {
  --column-number: 3;
}

.col-4 {
  --column-number: 4;
}

.col-5 {
  --column-number: 5;
}

.col-6 {
  --column-number: 6;
}

.col-7 {
  --column-number: 7;
}

.col-8 {
  --column-number: 8;
}

.col-9 {
  --column-number: 9;
}

.col-10 {
  --column-number: 10;
}

.col-11 {
  --column-number: 11;
}

.col-12 {
  --column-number: 12;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
}
@media screen and (min-width: 576px) {
  .col-sm-1 {
    --column-number: 1;
  }
  .col-sm-2 {
    --column-number: 2;
  }
  .col-sm-3 {
    --column-number: 3;
  }
  .col-sm-4 {
    --column-number: 4;
  }
  .col-sm-5 {
    --column-number: 5;
  }
  .col-sm-6 {
    --column-number: 6;
  }
  .col-sm-7 {
    --column-number: 7;
  }
  .col-sm-8 {
    --column-number: 8;
  }
  .col-sm-9 {
    --column-number: 9;
  }
  .col-sm-10 {
    --column-number: 10;
  }
  .col-sm-11 {
    --column-number: 11;
  }
  .col-sm-12 {
    --column-number: 12;
  }
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1 {
    --column-number: 1;
  }
  .col-md-2 {
    --column-number: 2;
  }
  .col-md-3 {
    --column-number: 3;
  }
  .col-md-4 {
    --column-number: 4;
  }
  .col-md-5 {
    --column-number: 5;
  }
  .col-md-6 {
    --column-number: 6;
  }
  .col-md-7 {
    --column-number: 7;
  }
  .col-md-8 {
    --column-number: 8;
  }
  .col-md-9 {
    --column-number: 9;
  }
  .col-md-10 {
    --column-number: 10;
  }
  .col-md-11 {
    --column-number: 11;
  }
  .col-md-12 {
    --column-number: 12;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1 {
    --column-number: 1;
  }
  .col-lg-2 {
    --column-number: 2;
  }
  .col-lg-3 {
    --column-number: 3;
  }
  .col-lg-4 {
    --column-number: 4;
  }
  .col-lg-5 {
    --column-number: 5;
  }
  .col-lg-6 {
    --column-number: 6;
  }
  .col-lg-7 {
    --column-number: 7;
  }
  .col-lg-8 {
    --column-number: 8;
  }
  .col-lg-9 {
    --column-number: 9;
  }
  .col-lg-10 {
    --column-number: 10;
  }
  .col-lg-11 {
    --column-number: 11;
  }
  .col-lg-12 {
    --column-number: 12;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    --column-number: 1;
  }
  .col-xl-2 {
    --column-number: 2;
  }
  .col-xl-3 {
    --column-number: 3;
  }
  .col-xl-4 {
    --column-number: 4;
  }
  .col-xl-5 {
    --column-number: 5;
  }
  .col-xl-6 {
    --column-number: 6;
  }
  .col-xl-7 {
    --column-number: 7;
  }
  .col-xl-8 {
    --column-number: 8;
  }
  .col-xl-9 {
    --column-number: 9;
  }
  .col-xl-10 {
    --column-number: 10;
  }
  .col-xl-11 {
    --column-number: 11;
  }
  .col-xl-12 {
    --column-number: 12;
  }
}
@media screen and (min-width: 1400px) {
  .d-xxl-none {
    display: none;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    --column-number: 1;
  }
  .col-xxl-2 {
    --column-number: 2;
  }
  .col-xxl-3 {
    --column-number: 3;
  }
  .col-xxl-4 {
    --column-number: 4;
  }
  .col-xxl-5 {
    --column-number: 5;
  }
  .col-xxl-6 {
    --column-number: 6;
  }
  .col-xxl-7 {
    --column-number: 7;
  }
  .col-xxl-8 {
    --column-number: 8;
  }
  .col-xxl-9 {
    --column-number: 9;
  }
  .col-xxl-10 {
    --column-number: 10;
  }
  .col-xxl-11 {
    --column-number: 11;
  }
  .col-xxl-12 {
    --column-number: 12;
  }
}
.header {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}
.header .menu-toggle {
  font-size: 2.5rem;
}
.header .container {
  width: calc(100% - 30px);
}
.header-logo > a > img {
  max-width: 80%;
  vertical-align: bottom;
  margin-top: -14px;
}
.header .row {
  align-items: center;
  margin: 0 -15px;
  justify-content: space-between;
}
.header .nav {
  column-gap: 50px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #46b20f;
  translate: -100%;
  transition: 0.4s ease;
  transition-property: translate;
}
.header .nav-link {
  display: block;
  color: var(--white);
  padding: 30px 20px 15px 20px;
  position: relative;
  min-width: 250px;
  font-size: 1.8rem;
  font-weight: 600;
}
.header .nav-link:nth-child(1) {
  margin-top: 66px;
}
.header .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 0;
  height: 3px;
  transition: width 0.5s;
  background: #2c2c2c;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
.header .nav-link:hover::after, .header .nav-link.active::after {
  width: 80%;
}
.header .nav-link:hover, .header .nav-link.active {
  color: #2c2c2c;
}
.header-right {
  display: flex;
  align-items: center;
}
.header-right input[type=checkbox]:checked ~ .nav {
  translate: 0;
  z-index: 1;
}
.header-right input[type=checkbox]:checked ~ .overlay {
  opacity: 1;
  z-index: 1;
  visibility: visible;
}
.header-right .overlay {
  background: rgba(0, 0, 0, 0.4745098039);
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease;
  transition-property: opacity;
}
.header-icon {
  column-gap: 30px;
  display: flex;
  align-items: center;
}
.header-cart {
  position: relative;
}
.header-cart__count {
  position: absolute;
  color: var(--white);
  background-color: #e05000;
  right: -4px;
  display: block;
  font-size: 1rem;
  top: -5px;
  width: 13px;
  height: 13px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media screen and (min-width: 992px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 4;
    background: #fff;
  }
  .header .container {
    margin-top: 20px;
  }
  .header .nav {
    position: static;
    background: none;
    display: flex;
    translate: 0%;
  }
  .header .nav-link {
    position: relative;
    color: #2c2c2c;
    display: flex;
    font-size: 1.667rem;
    line-height: 2.1667rem;
    font-weight: 600;
    padding: 33px 0;
    min-width: auto;
  }
  .header .nav-link:nth-child(1) {
    margin: 0px;
  }
  .header .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: width 0.5s;
    background: #46b20f;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -ms-transition: width 0.5s;
    -o-transition: width 0.5s;
  }
  .header .nav-link:hover::after, .header .nav-link.active::after {
    width: 100%;
  }
  .header .nav-link:hover, .header .nav-link.active {
    color: #46b20f;
  }
  .header-right {
    margin-left: auto;
  }
  .header-right .overlay {
    display: none;
  }
  .header-icon {
    margin-left: 50px;
    column-gap: 50px;
  }
}
.hero .container {
  min-width: 100vw;
  padding-top: 108px;
}
.hero .container .row {
  flex-wrap: nowrap;
  margin: 0 -25px;
}
.hero-infor {
  display: flex;
  flex-direction: column;
  margin-left: calc((100vw - 1200px) / 2);
}
.hero__heading {
  margin-top: 235px;
  font-size: 3.7rem;
  line-height: 1.3rem;
  font-weight: 800;
}
.hero__title {
  font-size: 4.3rem;
  margin: 10px 0px 28px 0px;
  font-weight: 800;
  line-height: normal;
  max-width: 385px;
  text-align: initial;
}
.hero__desc {
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 449.167px;
  line-height: 2rem;
}
.hero-img {
  position: relative;
  flex-grow: 1;
  height: 708.333px;
  width: 755px;
  background-color: var(--green-200);
  border-top-left-radius: 9px;
  margin-left: -149px;
}
.hero-img .text-under {
  position: absolute;
  color: var(--green-1000);
  font-weight: 800;
  font-size: 16.7rem;
  top: 55px;
  right: 44px;
  line-height: 16.667rem;
  opacity: 0.15;
  writing-mode: vertical-rl;
}
.hero-img .img {
  position: absolute;
  right: 232px;
  max-width: 830px;
  margin-top: -3px;
}

.section .container {
  padding-top: 62px;
}
.section .container-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-number__title {
  max-width: 558px;
  text-align: center;
}
.section-number-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 28px;
  height: 572px;
  position: relative;
  width: 83%;
  margin-top: 44px;
}
.section-number-list::before {
  content: "";
  width: 235px;
  height: 235px;
  background: #dcffca;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: 0;
  left: 0;
  position: absolute;
  transform: translateX(-112px) translateY(-33px);
  -webkit-transform: translateX(-112px) translateY(-33px);
  -moz-transform: translateX(-112px) translateY(-33px);
  -ms-transform: translateX(-112px) translateY(-33px);
  -o-transform: translateX(-112px) translateY(-33px);
}
.section-number-list::after {
  content: "";
  width: 235px;
  height: 235px;
  background: #dcffca;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  bottom: 0;
  right: 0;
  position: absolute;
  transform: translate(113px) translateY(-12px);
  -webkit-transform: translate(113px) translateY(-12px);
  -moz-transform: translate(113px) translateY(-12px);
  -ms-transform: translate(113px) translateY(-12px);
  -o-transform: translate(113px) translateY(-12px);
}
.section-number-item {
  min-width: 287px;
  background: var(--white);
  min-height: 337.5px;
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
  border-radius: 4px;
  margin-top: -83px;
}
.section-number-item__quality {
  font-size: 4.3333rem;
  margin-top: 27px;
  font-weight: 800;
  margin-left: 2px;
}
.section-number-item__icon {
  padding: 16px 19px 10px 19px;
  display: inline-block;
  background: var(--orange-100);
  border-radius: 10px;
}
.section-number-item:nth-child(2) {
  padding: 68px 40px 40px 32px;
  min-width: 341px;
  min-height: 392.5px;
}
.section-number-item:nth-child(2) .section-number-item__icon {
  background: #f2ffec;
}
.section-number-item:nth-child(1), .section-number-item:nth-child(3) {
  max-width: 353px;
  padding: 42px 40px 40px 30px;
}
.section-number-item:nth-child(3) .section-number-item__desc {
  margin-left: -2px;
}
.section-number-item__desc {
  font-size: 2rem;
  font-weight: 400;
  margin-left: 2px;
  line-height: 3.0833rem;
  margin-top: 23px;
}
.section-product .container {
  padding-top: 71px;
}
.section-product-wrapp {
  justify-content: center;
  column-gap: 57.33px;
  row-gap: 78.41px;
}
.section-product-list {
  margin-top: 46px;
}
.section-product__title {
  text-align: center;
}
.section-product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.section-product__item::before {
  content: "";
  position: absolute;
  width: 269.316px;
  height: 269.316px;
  background: var(--orange-300);
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.section-product__icon {
  padding-top: 120px;
  margin: 0 auto;
  transform: translateX(3px) translateY(-5px);
}
.section-product .circle-green::before {
  background: var(--green-300) !important;
}
.section-product__quantity {
  color: var(--grey-800);
  font-size: 1.6667rem;
  font-weight: 400;
  line-height: 2.1667rem;
  text-align: center;
  margin-top: 32px;
}
.section-product__cost {
  color: var(--content, #2c2c2c);
  font-size: 1.6667rem;
  font-weight: 400;
  line-height: 2.1667rem;
  text-align: center;
  margin-top: -4px;
}
.section-product__cost span {
  color: var(--content, #2c2c2c);
  font-size: 2.3333rem;
  font-weight: 600;
  line-height: 2.6667px;
  margin-right: 2px;
}
.section-news .container {
  padding-top: 92px;
}
.section-news-item__image {
  border-radius: 8px;
}
.section-news-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-news-item__name-calendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-news-item__name-calendar .name {
  font-size: 1.5rem;
  font-weight: 500;
  color: #46b20f;
}
.section-news-item__name-calendar .calendar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}

/*# sourceMappingURL=style.css.map */
