* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0.3rem;
}
html::-webkit-scrollbar-track {
  background: #fefefe;
  /* Đây là màu nền */
}
html::-webkit-scrollbar-thumb {
  background: #056aa4;
  /* Đây là màu của cái tròn tròn */
  border-radius: 5rem;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-width: 100vh;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 46px;
  padding: 12px 0;
  background-color: #fff;
  z-index: 99;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  color: #056aa4;
}

.user-name,
.title-header {
  font-weight: 600;
}
.main {
  height: 100vh;
  margin-top: 20px;
  background-color: #a9c9ff;
  padding: 75px 0 0 0;
  position: relative;
}

.main > img {
  position: absolute;
  width: 14%;
  right: 3%;
}

.main > h1 {
  text-align: center;
  font-size: 3rem;
  color: #fffffff0;
  margin-bottom: 34px;
}

.main-content {
  height: 428px;
  width: 60%;
  position: relative;
  margin: 0px auto;
  display: flex;
  border: 3px solid #eaedfff0;
  border-radius: 5px;
}
.menu-right-content::-webkit-scrollbar {
  width: 9px; /* Độ rộng của thanh cuộn */
}

.menu-right-content::-webkit-scrollbar-thumb {
  background-color: #888; /* Màu nền của phần thanh cuộn */
  border-radius: 5px; /* Độ cong viền của phần thanh cuộn */
}

.menu-right-content::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Màu nền khi di chuột qua phần thanh cuộn */
}
.menu-right-content::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Màu nền của phần track (phần nền nằm sau thanh cuộn) */
}
.menu-right-content.scrollable-content::-webkit-scrollbar-track:hover {
  background-color: #ddd; /* Màu nền khi di chuột qua phần track */
}

.container {
  /* width: 600px; */
  /* margin: 0 auto; */
  display: flex;
  padding: 16px 0;
  margin: 0 26px;
}

.menu-right-content {
  max-height: 424px;
  overflow: auto;
  width: 100%;
  padding: 0 47px;
  margin: 0 auto;
}

.menu-left {
  max-width: 594px;
}

.menu-right::after {
  content: "";
  border-left: 1px solid #eaedfff0;
  display: block;
  top: 0;
  /* margin-top: -351px; */
  height: 100%;
  position: absolute;
}

.homework-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column-reverse;
}

.title,
.title-js {
  width: 207px;
  text-align: center;
  font-size: 20px;
  border-radius: 12px;
  color: #fff6f4;
  padding: 9px 0;
  cursor: pointer;
  background: #9aa9fff0;
  transition: opacity 0.4s ease-in-out;
}

.title:hover {
  background: #9494be;
}

.menu-right {
  width: 100%;
}

.title i {
  padding-left: 16px;
}

.title-js {
  background: #9aa9fff0;
  /* background: linear-gradient(270deg, #fe3b0e, #ff8119); */
}

.day-homework:hover {
  background-color: #fff4f470;
}
.day-homework {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.day-title {
  font-size: 20px;
  color: blue;
  word-spacing: 4px;
}

.day-homework a {
  display: block;
  margin: 8px 0;
  color: #4942e4;
  font-weight: 500;
}

.day-homework a:hover {
  text-decoration: underline;
}

.footer {
  height: 46px;
}

.desc {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.homework-wrapper__js,
.homework-wrapper__html {
  opacity: 0;
  display: none;
  transition: opacity 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
}

#title-wrap-js:checked ~ .menu-right .menu-right-content .homework-wrapper__js,
#title-wrap:checked ~ .menu-right .menu-right-content .homework-wrapper__html {
  opacity: 1;
  display: block;
}

#title-wrap-js:checked ~ .menu-left .container .title-wrap .title-js {
  background: #9494be;
}
#title-wrap:checked ~ .menu-left .container .title-wrap .title {
  background-color: #9494be;
}

@media screen and (min-width: 1600px) {
  .day-homework {
    width: 100%;
  }
}
