// Import Base
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap");
@import "parts/variables";

// Common
html {
    font-size: 62.5%;
}

body {
    background-image: url(../image/landing-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0 100px;
    font-family: $fontFamily;
    min-height: 100vh;
}

input,
select,
textarea,
button {
    font-family: $fontFamily;
}

@import "layouts/page-info";
@import "layouts/button-switch";
@import "layouts/page-form";

@media screen and (min-width: 601px) {
    .container {
        --container-padding: 59px;
    }
}

@media screen and (min-width: 1366px) {
    body {
        // padding: 80px 55px 100px;
    }

    .page-info-wrapper {
        margin-top: 30px;
    }

    .row {
        align-items: stretch;
    }
}
