.hero {
  .container {
    padding: 0;
    display: none;
  }
  .hero-info {
    padding: 0 var(--container-padding);
    .hero-subtitle {
      font-family: Inter;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%;
      margin: 30px 0 20px;
    }

    .hero-title {
      font-size: 4rem;
      font-weight: 800;
      margin-bottom: 20px;
    }

    .hero-desc {
      color: $textColor;
      font-size: 1.6rem;
      line-height: 2.45rem;
      font-weight: 400;
    }
  }

  .hero-media {
    position: relative;
    background-color: #dcffca;
    height: 450px;
    width: 100%;
    padding: 0;
    // overflow: hidden;
    .media-img {
      position: absolute;
      top: 30px;
      left: -35px;
      width: 87%;
    }

    .media-text {
      position: absolute;
      right: -190px;
      transform: rotate(90deg);
      top: 257px;
      font-size: 9rem;
      font-weight: 800;
      line-height: 100%;
      color: #216000;
      opacity: 0.15;
      width: 582px;
    }
  }
}

@media screen and (min-width: 576px) {
  .hero {
    .hero-media {
      height: 500px;
      .media-img {
        position: absolute;
        top: -20px;
        left: -35px;
        width: 75%;
      }

      .media-text {
        top: 290px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    .hero-media {
      height: 500px;
      .media-img {
        position: absolute;
        top: -30px;
        left: -35px;
        width: 65%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .hero {
    align-items: center;
    padding-top: 112px;

    .container {
      --container-width: calc(100vw - (100vw - 1200px) / 2);
      margin: 0 0 0 auto;
      .row {
        flex-wrap: nowrap;
      }
      padding: 0 0 0 var(--container-padding);
    }
    .hero-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 20px 0 0 0;

      .hero-title {
        font-size: 5.2rem;
        width: 450px;
        margin-bottom: 32px;
      }

      .hero-desc {
        font-size: 1.6rem;
        width: 450px;
      }
    }
    .hero-media {
      right: 0;
      height: 44.3vw;
      width: 48vw;
      min-width: 48vw;
      border-radius: 20px 0px 0px 20px;
      padding: 0;
      margin: 0;
      // overflow: hidden;
      .media-img {
        transform: translate(-21.3%, -50%);
        position: absolute;
        width: auto;
        top: 50%;

        img {
          width: 92.5%;

          max-width: none;
          height: auto;
        }
      }
      .media-text {
        top: 230px;
        right: calc(-91px - 12.6%);
        font-size: 11rem;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    .hero-info {
      .hero-subtitle {
        font-size: 3.5rem;
        margin: 0 0 15px;
      }

      .hero-title {
        font-size: 5.2rem;
        width: 460px;
        margin-bottom: 32px;
      }

      .hero-desc {
        font-size: 1.6rem;
        width: 539px;
      }
    }

    .hero-media {
      .media-text {
        top: 250px;
        right: calc(-91px - 10.6%);
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .hero {
    .hero-info {
      .hero-subtitle {
        font-size: 4.4rem;
      }
    }
    .hero-media {
      .media-img {
        transform: translate(-17.3%, -50%);
        img {
          width: 98.5%;
        }
      }
      .media-text {
        top: 250px;
        right: calc(-91px - 6.6%);
        font-size: 13rem;
      }
    }
  }
}

@media screen and (min-width: 1600px) {
  .hero {
    .container {
      padding: 0;
    }

    .hero-media {
      .media-img {
        transform: translate(-19.3%, -50%);
        img {
          width: 98.5%;
        }
      }
      .media-text {
        top: 222px;
        right: calc(-91px + -0.6%);
        font-size: 17rem;
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .hero {
    .container {
      padding: 0;
    }
    .hero-media {
      .media-text {
        top: 158px;
        right: calc(-91px - -4.4%);
        font-size: 20rem;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .hero .hero-media {
    height: 420px;
  }

  .hero .hero-media .media-img {
    bottom: -40px;
    right: -30px;
    top: auto;
    left: auto;
  }

  .hero .hero-media .media-text {
    transform: rotate(00deg);
    font-size: 8rem;
    width: 510px;
    top: 20px;
    left: 20px;
  }
}
