button {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding: 5px 0;
}

input {
  margin-top: 10px;
  padding: 5px 0;
  text-align: center;
}

body {
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;
}

table {
  margin: 10px 0;
  border-collapse: collapse;
  width: 100%;
  display: flow;
}

main {
  width: 70%;
  margin: 90px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h3 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

table th,
table td {
  text-align: center;
  border: 1px solid #272525;
  vertical-align: middle;
  padding: 6px;
}

table th {
  background: #1271be;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.btn-wrapp {
  display: block;
  width: 100%;
}

.button-cart {
  background: #1271be;
  color: #fff;
  border: none;
  padding: 12px 0px;
}

.list-product button {
  background: #1271be;
  color: #fff;
  border: none;
  padding: 12px 0px;
}

button#update-cart-button:hover,
button#clear-cart-button :hover {
  background-color: #103d6f;
}

button.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

button.delete-button:hover {
  background-color: #901b27;
  color: #fff;
  border: none;
}

hr {
  margin: 29px 0;
}
