// Products

.products {
    text-align: center;
    margin-bottom: 32.63px;

    .product-heading {
        @extend %headingSection;
        margin-bottom: 50px;
    }

    .product-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 96.04px;

        .product-bgr {
            position: relative;
            width: 269px;
            height: 269px;
            border-radius: 50%;
            background-color: #FFBA94;
            margin-bottom: 105px;

            img {
                display: inline-block;
                position: absolute;
                width: 240px;
                left: 50%;
                bottom: -30%;
                transform: translateX(-50%);
            }
        }

        .product-sub-heading {
            font-size: 2.8rem;
            font-weight: 700;
            position: relative;
            margin-bottom: 30px;

            &::before {
                content: '';
                position: absolute;
                width: 40.8px;
                height: 2px;
                background-color: #A3A3A3;
                left: 50%;
                transform: translateX(-50%);
                bottom: -12.81px;
            }
        }

        .product-quantity {
            color: #656565;
            margin-bottom: 10px;
        }

        .product-price {
            margin-bottom: 32px;

            span {
                font-size: 2.3rem;
                font-weight: 600;
                line-height: 1.1;
            }
        }

        .product-btn {
            font-size: 2rem;
            font-weight: 700;
            color: white;
            padding: 13.3px 11.7px;
            border-radius: 6.667px;
            background-color: $primaryColor;
            cursor: pointer;
        }
    }

    .product-col {
        display: flex;
        justify-content: center;
    }

    .product-col:nth-child(3n + 2) {
        .product-block {
            .product-bgr {
                background-color: $primaryColorLight;
            }
        }
    }
}

// End Products

// --------------------------------------------------------------------------------
// Responsive
// --------------------------------------------------------------------------------

// @media screen and (max-width: 1399.98px) {}

// @media screen and (max-width: 1199.98px) {}

// @media screen and (max-width: 991.98px) {}

@media screen and (max-width: 767.98px) {
    .products {
        .product-heading {
            font-size: 2.8rem;
        }

        .product-block {
            .product-bgr {
                width: 230px;
                height: 230px;

                img {
                    width: 190px;
                }
            }

            .product-sub-heading {
                font-size: 2.2rem;
                margin-bottom: 25px;
            }

            .product-price {
                margin-bottom: 32px;

                span {
                    font-size: 2rem;
                }
            }

            .product-btn {
                font-size: 1.6rem;
                padding: 10px 9px;
            }
        }
    }
}

// @media screen and (max-width: 575px) {}