/*
Quy ước: Triển khai theo Mobile First

.col-{number}: <576px
.col-sm-{number}: >=576px
.col-md-{number}: >=768px
.col-lg-{number}: >=992px
.col-xl-{number}: >=1366px
.col-xxl-{number}: >=1400px


*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --container-width: 576px;
  --container-padding: 25px;
  --max-column: 12;
  --column-space: 30px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 calc(-1 * var(--column-space) / 2); */
  align-items: center;
}

.row [class^="grid__column-"] {
  --column-width: calc(100% / (var(--max-column) / var(--column-number)));
  flex-basis: var(--column-width);
  max-width: var(--column-width);
  /* padding: 0 calc(var(--column-space) / 2); */
  /* margin-bottom: var(--column-space); */
}

.grid__column-1 {
  --column-number: 1;
}

.grid__column-2 {
  --column-number: 2;
}

.grid__column-3 {
  --column-number: 3;
}

.grid__column-4 {
  --column-number: 4;
}

.grid__column-5 {
  --column-number: 5;
}

.grid__column-6 {
  --column-number: 6;
}

.grid__column-7 {
  --column-number: 7;
}

.grid__column-8 {
  --column-number: 8;
}

.grid__column-9 {
  --column-number: 9;
}

.grid__column-10 {
  --column-number: 10;
}

.grid__column-11 {
  --column-number: 11;
}

.grid__column-12 {
  --column-number: 12;
}

@media screen and (min-width: 576px) {
  .grid__column-sm-1 {
    --column-number: 1;
  }

  .grid__column-sm-2 {
    --column-number: 2;
  }

  .grid__column-sm-3 {
    --column-number: 3;
  }

  .grid__column-sm-4 {
    --column-number: 4;
  }

  .grid__column-sm-5 {
    --column-number: 5;
  }

  .grid__column-sm-6 {
    --column-number: 6;
  }

  .grid__column-sm-7 {
    --column-number: 7;
  }

  .grid__column-sm-8 {
    --column-number: 8;
  }

  .grid__column-sm-9 {
    --column-number: 9;
  }

  .grid__column-sm-10 {
    --column-number: 10;
  }

  .grid__column-sm-11 {
    --column-number: 11;
  }

  .grid__column-sm-12 {
    --column-number: 12;
  }
}

@media screen and (min-width: 768px) {
  .grid__column-md-1 {
    --column-number: 1;
  }

  .grid__column-md-2 {
    --column-number: 2;
  }

  .grid__column-md-3 {
    --column-number: 3;
  }

  .grid__column-md-4 {
    --column-number: 4;
  }

  .grid__column-md-5 {
    --column-number: 5;
  }

  .grid__column-md-6 {
    --column-number: 6;
  }

  .grid__column-md-7 {
    --column-number: 7;
  }

  .grid__column-md-8 {
    --column-number: 8;
  }

  .grid__column-md-9 {
    --column-number: 9;
  }

  .grid__column-md-10 {
    --column-number: 10;
  }

  .grid__column-md-11 {
    --column-number: 11;
  }

  .grid__column-md-12 {
    --column-number: 12;
  }
}

@media screen and (min-width: 992px) {
  .grid__column-lg-1 {
    --column-number: 1;
  }

  .grid__column-lg-2 {
    --column-number: 2;
  }

  .grid__column-lg-3 {
    --column-number: 3;
  }

  .grid__column-lg-4 {
    --column-number: 4;
  }

  .grid__column-lg-5 {
    --column-number: 5;
  }

  .grid__column-lg-6 {
    --column-number: 6;
  }

  .grid__column-lg-7 {
    --column-number: 7;
  }

  .grid__column-lg-8 {
    --column-number: 8;
  }

  .grid__column-lg-9 {
    --column-number: 9;
  }

  .grid__column-lg-10 {
    --column-number: 10;
  }

  .grid__column-lg-11 {
    --column-number: 11;
  }

  .grid__column-lg-12 {
    --column-number: 12;
  }
}

@media screen and (min-width: 1366px) {
  .grid__column-xl-1 {
    --column-number: 1;
  }

  .grid__column-xl-2 {
    --column-number: 2;
  }

  .grid__column-xl-3 {
    --column-number: 3;
  }

  .grid__column-xl-4 {
    --caolumn-number: 4;
  }

  .grid__column-xl-5 {
    --column-number: 5;
  }

  .grid__column-xl-6 {
    --column-number: 6;
  }

  .grid__column-xl-7 {
    --column-number: 7;
  }

  .grid__column-xl-8 {
    --column-number: 8;
  }

  .grid__column-xl-9 {
    --column-number: 9;
  }

  .grid__column-xl-10 {
    --column-number: 10;
  }

  .grid__column-xl-11 {
    --column-number: 11;
  }

  .grid__column-xl-12 {
    --column-number: 12;
  }
}

@media screen and (min-width: 1501px) {
  .container {
    padding: 0;
  }
  .grid__column-xxl-1 {
    --column-number: 1;
  }

  .grid__column-xxl-2 {
    --column-number: 2;
  }

  .grid__column-xxl-3 {
    --column-number: 3;
  }

  .grid__column-xxl-4 {
    --caolumn-number: 4;
  }

  .grid__column-xxl-5 {
    --column-number: 5;
  }

  .grid__column-xxl-6 {
    --column-number: 6;
  }

  .grid__column-xxl-7 {
    --column-number: 7;
  }

  .grid__column-xxl-8 {
    --column-number: 8;
  }

  .grid__column-xxl-9 {
    --column-number: 9;
  }

  .grid__column-xxl-10 {
    --column-number: 10;
  }

  .grid__column-xxl-11 {
    --column-number: 11;
  }

  .grid__column-xxl-12 {
    --column-number: 12;
  }
}
