@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Titillium+Web:wght@300;400;600;700;900&display=swap");
input#btn-login:checked ~ .lading-form-wrapper .page-form-login {
  display: block;
}

input#btn-register:checked ~ .lading-form-wrapper .page-form-register {
  display: block;
}

.btn {
  width: 100%;
  height: 54px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  border-radius: 12px;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  scale: 0.95;
}
.btn-login {
  background-color: #615dfa;
  box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
}
.btn-register {
  background-color: #23d2e2;
  box-shadow: 4px 7px 12px 0 rgba(35, 210, 226, 0.2);
}

.form-decor {
  display: none;
}
.form-title {
  font-size: 2.6rem;
  color: #3e3f5e;
  text-align: center;
  font-weight: 700;
  margin-bottom: 75px;
}
.form-group {
  position: relative;
  margin-bottom: 30px;
}
.form-group .label-input-text {
  position: absolute;
  left: 18px;
  font-size: 1.6rem;
  color: #adafca;
  font-weight: 600;
  top: 50%;
  transform: translateY(-50%);
  padding: 3px 5px;
  background-color: #fff;
  pointer-events: none;
  transition: 0.3s ease-in-out;
}
.form-group input[type=text],
.form-group input[type=email],
.form-group input[type=password] {
  width: 100%;
  height: 54px;
  border: 1px solid #dedeea;
  border-radius: 12px;
  padding: 18px;
  transition: 0.3s ease-in-out;
  font-size: 1.6rem;
  font-weight: 700;
}
.form-group input[type=text]:not(:placeholder-shown) + .label-input-text, .form-group input[type=text]:focus + .label-input-text,
.form-group input[type=email]:not(:placeholder-shown) + .label-input-text,
.form-group input[type=email]:focus + .label-input-text,
.form-group input[type=password]:not(:placeholder-shown) + .label-input-text,
.form-group input[type=password]:focus + .label-input-text {
  top: -17%;
  left: 14px;
  transform: scale(0.7);
  transform-origin: left;
}
.form-group input[type=text]:not(:placeholder-shown), .form-group input[type=text]:focus,
.form-group input[type=email]:not(:placeholder-shown),
.form-group input[type=email]:focus,
.form-group input[type=password]:not(:placeholder-shown),
.form-group input[type=password]:focus {
  border-color: #615dfa;
}
.form-group #save-password:checked + .row .label-save-password::before {
  border: 1px solid #23d2e2;
  background-color: #23d2e2;
}
.form-group #save-password:checked + .row .label-save-password::after {
  opacity: 1;
  visibility: visible;
}
.form-group #send-email:checked + .row .label-send-email::before {
  border: 1px solid #23d2e2;
  background-color: #23d2e2;
}
.form-group #send-email:checked + .row .label-send-email::after {
  opacity: 1;
  visibility: visible;
}
.form-group .label-send-email,
.form-group .label-save-password {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3e3f5e;
  display: flex;
  align-items: center;
  position: relative;
}
.form-group .label-send-email::before,
.form-group .label-save-password::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid #dedeea;
  margin-right: 12px;
  transition: 0.3s ease-in-out;
}
.form-group .label-send-email::after,
.form-group .label-save-password::after {
  position: absolute;
  left: 1px;
  top: 1px;
  content: "x";
  display: inline-block;
  color: #fff;
  width: 22px;
  border-radius: 5px;
  height: 22px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  line-height: 22px;
  background-color: #23d2e2;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.form-group .row {
  justify-content: space-between;
}
.form-group .row .forgot-password-link {
  font-size: 1.4rem;
  font-weight: 700;
  color: #adafca;
}

.social-icon-wrapper {
  display: flex;
  gap: 13px;
  margin-top: 38px;
  justify-content: center;
}
.social-link {
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.social-link.twitter {
  background-color: #1abcff;
}
.social-link.facebook {
  background-color: #3763d2;
}
.social-link.twitch {
  background-color: #7b5dfa;
}
.social-link.youtube {
  background-color: #fd434f;
}

.page-form {
  width: 100%;
  padding: 40px 32px;
  background-color: #fff;
  border-radius: 12px;
}
.page-form-login, .page-form-register {
  display: none;
}
.page-form .login-text {
  font-size: 1.4rem;
  color: #3e3f5e;
  font-weight: 700;
  text-align: center;
  margin-top: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-form .login-text::before {
  content: "";
  width: calc((100% - 180px - 35px) / 2);
  height: 1px;
  display: inline-block;
  background-color: #eaeaf5;
}
.page-form .login-text::after {
  content: "";
  width: calc((100% - 180px - 37px) / 2);
  height: 1px;
  display: inline-block;
  background-color: #eaeaf5;
}
.page-form .send-email {
  font-size: 1.4rem;
  font-weight: 500;
  color: #3e3f5e;
  line-height: 1.7;
  margin-top: 38px;
}
.page-form .send-email a {
  color: #00c7d9;
  font-weight: 600;
}

@media screen and (min-width: 501px) {
  .page-form {
    padding: 64px;
  }
}
@media screen and (min-width: 1366px) {
  body {
    padding: 100px 0;
  }
  .page-form .form-decor {
    display: block;
  }
  .page-form-login, .page-form-register {
    max-width: 484px;
    position: fixed;
    transition: 0.5s ease-in-out;
    right: 5%;
  }
  .page-form-login .form-decor, .page-form-register .form-decor {
    position: absolute;
    top: -50px;
    left: -70px;
  }
  #btn-login:checked ~ .lading-form-wrapper .page-form-login {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
    z-index: 2;
    display: block;
  }
  #btn-login:checked ~ .lading-form-wrapper .page-form-register {
    transform: translate(50%, 0);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    display: block;
  }
  #btn-register:checked ~ .lading-form-wrapper .page-form-login {
    transform: translate(50%, 0);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    display: block;
  }
  #btn-register:checked ~ .lading-form-wrapper .page-form-register {
    transform: translate(0);
    opacity: 1;
    visibility: visible;
    z-index: 2;
    display: block;
  }
}
@media screen and (min-width: 1501px) {
  .page-form-login, .page-form-register {
    right: 11%;
  }
}
html {
  font-size: 62.5%;
}

body {
  background-image: url(../image/landing-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0 100px;
  font-family: "Rajdhani", sans-serif;
  min-height: 100vh;
}

input,
select,
textarea,
button {
  font-family: "Rajdhani", sans-serif;
}

.tab-switch {
  display: flex;
  height: 54px;
  border-radius: 12px;
  border: 1px solid #fff;
  overflow: hidden;
  margin-bottom: 60px;
}
.tab-switch-button {
  flex-basis: 50%;
  transition: 0.3s ease;
}
.tab-switch-button label {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.landing-info {
  width: 100%;
  color: #fff;
}
.landing-info .logo {
  display: flex;
  justify-content: center;
  width: 100%;
}
.landing-info .logo i {
  font-size: 55px;
}
.landing-info .landing-info__welcome {
  font-size: 2.4rem;
  font-weight: 500;
  display: block;
  text-align: center;
  margin-top: 36px;
}
.landing-info__name {
  font-size: 6rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  text-align: center;
  margin: -10px 0 40px;
}
.landing-info__desc {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 500;
  width: 385px;
  margin: 0 auto 45px;
  display: none;
}

@media screen and (min-width: 501px) {
  .landing-info__name {
    font-size: 10.4rem;
  }
  .grid__column-12.tab-switch {
    flex-basis: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 601px) {
  .landing-container {
    --container-padding: 59px;
  }
}
@media screen and (min-width: 1366px) {
  .landing-info-wrapper {
    margin-top: 30px;
  }
  .landing-info__desc {
    display: block;
  }
  .row {
    align-items: stretch;
  }
}
@media screen and (min-width: 1501px) {
  .landing-info__desc {
    margin-bottom: 90px;
  }
  .grid__column-12.tab-switch {
    flex-basis: 64%;
    margin-left: auto;
    margin-right: auto;
  }
}
#btn-login:checked ~ .landing-info-wrapper .button-switch-login,
#btn-register:checked ~ .landing-info-wrapper .button-switch-register {
  background-color: #fff;
}
#btn-login:checked ~ .landing-info-wrapper .button-switch-login label,
#btn-register:checked ~ .landing-info-wrapper .button-switch-register label {
  color: #3e3f5e;
}

/*# sourceMappingURL=style.css.map */
