* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #2c2c2c;
  line-height: 1.2;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

ul li {
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.container {
  position: relative;
  max-width: 100vw;
  padding: 0 calc((100vw - var(--max-width)) / 2);
  margin: 0 auto;
}
.container * {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.header {
  padding: 20px 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
}
.header .container {
  max-width: 1440px;
}
.header .container .container-inner {
  display: flex;
}
.header .container .container-inner input[type=checkbox],
.header .container .container-inner .hamburger-lines {
  display: none;
}
.header .container .container-inner .header-logo {
  margin-right: auto;
}
.header .container .container-inner .navbar {
  display: flex;
  align-items: center;
}
.header .container .container-inner .navbar label {
  display: none;
}
.header .container .container-inner .navbar ul {
  display: flex;
}
.header .container .container-inner .navbar ul .menu-sub-mobile {
  display: none;
}
.header .container .container-inner .navbar ul .home-menu {
  transform: translateX(-8px);
}
.header .container .container-inner .navbar ul .about-menu {
  transform: translateX(-5px);
}
.header .container .container-inner .navbar ul .news-menu {
  transform: translateX(3px);
}
.header .container .container-inner .navbar ul .contact-menu {
  transform: translateX(8px);
}
.header .container .container-inner .navbar ul li .nav-link {
  font-weight: 600;
  font-size: 2rem;
  padding: 61px 10px;
  margin: 0 20px;
  position: relative;
}
.header .container .container-inner .navbar ul li .nav-link.active, .header .container .container-inner .navbar ul li .nav-link:hover {
  color: #46b20f;
}
.header .container .container-inner .navbar ul li .nav-link.active::after, .header .container .container-inner .navbar ul li .nav-link:hover::after {
  width: 100%;
}
.header .container .container-inner .navbar ul li .nav-link:hover::after {
  width: 100%;
}
.header .container .container-inner .navbar ul li .nav-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #46b20f;
  border-radius: 99px;
  transition: width 0.5s ease-in-out;
}
.header .container .container-inner .navbar ul li .icon-down {
  display: none;
}
.header .container .container-inner .header-actions {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.header .container .container-inner .header-actions .cart-icon {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  transform: translateX(10px) translateY(2px);
}
.header .container .container-inner .header-actions .cart-icon span {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #e05000;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
}
.header .container .container-inner .header-actions .search-icon {
  transform: translateX(10px) translateY(3px);
}

@media only screen and (max-width: 991px) {
  .header .container {
    position: relative;
    max-width: 720px;
  }
  .header .container .container-inner .header-logo {
    margin-left: auto;
    padding-left: 190px;
  }
  .header .container .container-inner input[type=checkbox] {
    display: block;
  }
  .header .container .container-inner input[type=checkbox] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 109px;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
  }
  .header .container .container-inner input[type=checkbox]:checked ~ .navbar ul {
    transform: translateX(0);
  }
  .header .container .container-inner input[type=checkbox]:checked ~ .overlay {
    min-height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }
  .header .container .container-inner .navbar .burger {
    display: block;
    position: absolute;
    top: 50%;
    left: 64px;
    transform: translateY(-50%);
  }
  .header .container .container-inner .navbar .burger i {
    font-size: 3rem;
  }
  .header .container .container-inner .navbar ul {
    position: fixed;
    inset: 0;
    flex-direction: column;
    background-color: #fff;
    max-width: 300px;
    width: 250px;
    min-height: 100vh;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
  }
  .header .container .container-inner .navbar ul .exit-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 32px;
  }
  .header .container .container-inner .navbar ul .exit-menu i {
    font-size: 3rem;
  }
  .header .container .container-inner .navbar ul li .nav-link {
    display: inline-block;
    padding: 10px 0;
    margin: 20px 30px;
  }
  .header .container .container-inner .navbar ul li .nav-link::after {
    bottom: 0;
  }
  .header .container .container-inner .navbar ul li:first-of-type {
    display: inline-block;
    margin-top: 100px;
  }
  .header .container .container-inner .header-actions {
    margin-right: 20px;
  }
  .header .container .container-inner .header-actions img {
    width: 35px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .container {
    max-width: 540px;
    margin: 0 auto;
  }
  .header .container .container-inner .navbar .burger {
    left: 80px;
  }
}
@media only screen and (max-width: 575px) {
  .header .container {
    min-width: 320px;
  }
  .header .container .container-inner .header-logo img {
    width: 100px;
  }
  .header .container .container-inner .navbar .burger {
    left: 40px;
  }
  .header .container .container-inner .navbar .burger i {
    font-size: 2.4rem;
  }
  .header .container .container-inner .header-actions img {
    width: 28px;
  }
}
@media only screen and (max-width: 460px) {
  .header .container .container-inner .navbar ul .menu-sub-mobile {
    display: block;
  }
  .header .container .container-inner .header-actions {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding: 10px 0;
  }
  .header .container {
    max-width: 960px;
  }
  .header .container .container-inner {
    justify-content: space-between;
  }
  .header .container .container-inner .header-logo {
    width: 124px;
    margin: 0;
  }
  .header .container .container-inner input[type=checkbox],
  .header .container .container-inner .hamburger-lines {
    display: none;
  }
  .header .container .container-inner .navbar label {
    display: none !important;
  }
  .header .container .container-inner .navbar ul li .nav-link {
    padding: 48px 0px;
    margin: 0 16px;
    font-size: 1.6rem;
  }
  .header .container .container-inner .navbar ul li .nav-link::after {
    bottom: 0;
  }
  .header .container .container-inner .navbar ul .menu-sub-mobile {
    display: none;
  }
  .header .container .container-inner .header-actions {
    column-gap: 26px;
  }
  .header .container .container-inner .header-actions img {
    width: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 22px 0;
    height: 130px;
  }
  .header .container {
    max-width: 1140px;
  }
  .header .container .container-inner .navbar ul li .nav-link {
    padding: 56px 8px;
  }
}
@media only screen and (min-width: 1400px) {
  .header .container {
    max-width: 1320px;
  }
}
@media only screen and (min-width: 1500px) {
  .header .container {
    max-width: 1440px;
  }
}
.title-large {
  background-color: #f2ffec;
}
.title-large .container {
  max-width: 1440px;
}
.title-large .container .container-inner {
  margin-top: 130px;
  height: 200px;
}
.title-large .container .container-inner .title {
  line-height: 200px;
  font-size: 5.2rem;
  font-weight: 700;
  transform: translateY(1px);
}

@media only screen and (max-width: 1499px) {
  .title-large .container {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1399px) {
  .title-large .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1199px) {
  .title-large .container {
    max-width: 960px;
  }
  .title-large .container .container-inner {
    margin-top: 112px;
  }
}
@media only screen and (max-width: 991px) {
  .title-large .container {
    max-width: 720px;
  }
  .title-large .container .container-inner {
    margin-top: 146px;
  }
}
@media only screen and (max-width: 767px) {
  .title-large .container {
    max-width: 540px;
  }
  .title-large .container .container-inner .title {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 575px) {
  .title-large .container {
    max-width: 320px;
    text-align: center;
  }
  .title-large .container .container-inner {
    margin-top: 115px;
  }
  .title-large .container .container-inner .title {
    font-size: 4rem;
  }
}
.hot-section {
  margin-top: 160px;
}
.hot-section .container {
  max-width: 1440px;
}
.hot-section .container .container-inner {
  padding-left: 143px;
}
.hot-section .container .container-inner .row {
  display: flex;
  position: relative;
  column-gap: 109px;
}
.hot-section .container .container-inner .row .image-1 {
  transform: translateX(-8px);
}
.hot-section .container .container-inner .row .image-2 {
  transform: translateY(-95px) translateX(-8px);
}
.hot-section .container .container-inner .row .content-wrap {
  max-width: 644px;
  padding-top: 33px;
  transform: translateX(-8px);
}
.hot-section .container .container-inner .row .content-wrap .title-small {
  color: #46b20f;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 12px;
}
.hot-section .container .container-inner .row .content-wrap .title {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 32px;
}
.hot-section .container .container-inner .row .content-wrap .desc {
  width: 509px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.53;
  margin-bottom: 60px;
}
.hot-section .container .container-inner .row .content-wrap .btn-subview {
  display: block;
  padding: 16px 28px;
  border: 1px solid #46b20f;
  border-radius: 8px;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.hot-section .container .container-inner .row .content-wrap .btn-subview span {
  transform: translateX(-4px);
}
.hot-section .container .container-inner .row .content-wrap .btn-subview i {
  padding-left: 4px;
  font-size: 1.8rem;
}
.hot-section .container .container-inner .row .content-2 {
  transform: translateY(52px) translateX(-7px);
}
.hot-section .container .container-inner .row .order-1 {
  order: 1;
}
.hot-section .container .container-inner .row .order-2 {
  order: 2;
}

@media screen and (max-width: 1499px) {
  .hot-section .container {
    max-width: 1320px;
  }
}
@media screen and (max-width: 1399px) {
  .hot-section .container {
    max-width: 1140px;
  }
  .hot-section .container .container-inner .row .image-2 {
    transform: translateY(-40px);
  }
}
@media screen and (max-width: 1199px) {
  .hot-section .container {
    max-width: 960px;
  }
  .hot-section .container .container-inner {
    padding-left: 0;
  }
  .hot-section .container .container-inner .row {
    row-gap: 30px;
  }
  .hot-section .container .container-inner .row .image-2 {
    transform: translateY(40px);
  }
}
@media screen and (max-width: 991px) {
  .hot-section {
    margin-top: 40px;
  }
  .hot-section .container {
    max-width: 720px;
  }
  .hot-section .container .container-inner .row {
    column-gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hot-section .container .container-inner .row .order-2 {
    order: 1;
  }
  .hot-section .container .container-inner .row .order-1 {
    order: 2;
  }
  .hot-section .container .container-inner .row .content-wrap {
    padding-top: 20px;
  }
  .hot-section .container .container-inner .row .content-wrap .btn-subview {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .hot-section .container {
    max-width: 540px;
  }
}
@media screen and (max-width: 575px) {
  .hot-section .container {
    max-width: 320px;
  }
  .hot-section .container .container-inner .row .image {
    display: none;
  }
  .hot-section .container .container-inner .row .content-wrap {
    max-width: 300px;
  }
  .hot-section .container .container-inner .row .content-wrap .desc {
    max-width: 100%;
  }
}
.post-section .container {
  max-width: 1188px;
}
.post-section .container .container-inner {
  margin-top: 62px;
}
.post-section .container .container-inner .title {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.31;
  margin: 0 auto;
  text-align: center;
}
.post-section .container .container-inner .news-list {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 34px;
  transform: translateX(10px);
  row-gap: 60px;
}
.post-section .container .container-inner .news-list .news-item {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  flex-basis: calc((100% - 34px) / 2);
}
.post-section .container .container-inner .news-list .news-item:nth-child(3), .post-section .container .container-inner .news-list .news-item:nth-child(4), .post-section .container .container-inner .news-list .news-item:nth-child(5), .post-section .container .container-inner .news-list .news-item:nth-child(6) {
  transform: translateY(-48px);
}
.post-section .container .container-inner .news-list .news-item .tablet-left,
.post-section .container .container-inner .news-list .news-item .tablet-right {
  display: flex;
  flex-direction: column;
  row-gap: 19.52px;
}
.post-section .container .container-inner .news-list .news-item .image {
  border-radius: 8px;
  transform: translateX(-1px);
}
.post-section .container .container-inner .news-list .news-item .image img {
  vertical-align: middle;
  width: 569px;
}
.post-section .container .container-inner .news-list .news-item .image-2 {
  transform: translateX(-13px);
}
.post-section .container .container-inner .news-list .news-item .image-item-4 {
  transform: translateX(-13px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post-section .container .container-inner .news-list .news-item .name-calendar .name {
  font-size: 2.2rem;
  font-weight: 500;
  color: #a3a3a3;
  transform: translateY(-2px) translateX(-1px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .name-1 {
  transform: translateY(1px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .name-item-2 {
  transform: translateY(-5px) translateX(-7px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .name-item-3 {
  transform: translateY(2px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .name-item-4 {
  transform: translateX(-8px) translateY(-2px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar img {
  width: 30px;
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar .time {
  font-size: 2.2rem;
  font-weight: 500;
  color: #a3a3a3;
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar .time-1 {
  transform: translateX(-4px) translateY(2px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar .time-center {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-3px) translateX(-20px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar .img-item-1 {
  transform: translateY(1px) translateX(-6px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar .img-2 {
  transform: translateX(-24px) translateY(-3px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar .img-time-4 {
  transform: translateX(-24px) translateY(-2px);
}
.post-section .container .container-inner .news-list .news-item .name-calendar .calendar .time-item-4 {
  transform: translateX(-21px) translateY(-1px);
}
.post-section .container .container-inner .news-list .news-item .news-title {
  max-width: 585px;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.53;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-section .container .container-inner .news-list .news-item .news-title-1 {
  transform: translateX(-1px) translateY(-38px);
}
.post-section .container .container-inner .news-list .news-item .news-title-2 {
  transform: translateY(-43px) translateX(-8px);
}
.post-section .container .container-inner .news-list .news-item .news-title-3 {
  transform: translateY(-37px) translateX(-1px);
}
.post-section .container .container-inner .news-list .news-item .news-desc {
  max-width: 575px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.53;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transform: translateY(-3px) translateX(-2px);
}
.post-section .container .container-inner .news-list .news-item .news-desc-1 {
  transform: translateY(-41px) translateX(-1px);
}
.post-section .container .container-inner .news-list .news-item .news-desc-2 {
  transform: translateY(-47px) translateX(-8px);
}
.post-section .container .container-inner .news-list .news-item .news-desc-3 {
  transform: translateY(-41px) translateX(-1px);
}

/*# sourceMappingURL=style-news.css.map */
