* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #2c2c2c;
  line-height: 1.2;
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

ul li {
  list-style: none;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.container {
  position: relative;
  max-width: 100vw;
  padding: 0 calc((100vw - var(--max-width)) / 2);
  margin: 0 auto;
}
.container * {
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.header {
  padding: 20px 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1;
}
.header .container {
  max-width: 1440px;
}
.header .container .container-inner {
  display: flex;
}
.header .container .container-inner input[type=checkbox],
.header .container .container-inner .hamburger-lines {
  display: none;
}
.header .container .container-inner .header-logo {
  margin-right: auto;
}
.header .container .container-inner .navbar {
  display: flex;
  align-items: center;
}
.header .container .container-inner .navbar label {
  display: none;
}
.header .container .container-inner .navbar ul {
  display: flex;
}
.header .container .container-inner .navbar ul .menu-sub-mobile {
  display: none;
}
.header .container .container-inner .navbar ul .home-menu {
  transform: translateX(-8px);
}
.header .container .container-inner .navbar ul .about-menu {
  transform: translateX(-5px);
}
.header .container .container-inner .navbar ul .news-menu {
  transform: translateX(3px);
}
.header .container .container-inner .navbar ul .contact-menu {
  transform: translateX(8px);
}
.header .container .container-inner .navbar ul li .nav-link {
  font-weight: 600;
  font-size: 2rem;
  padding: 61px 10px;
  margin: 0 20px;
  position: relative;
}
.header .container .container-inner .navbar ul li .nav-link.active, .header .container .container-inner .navbar ul li .nav-link:hover {
  color: #46b20f;
}
.header .container .container-inner .navbar ul li .nav-link.active::after, .header .container .container-inner .navbar ul li .nav-link:hover::after {
  width: 100%;
}
.header .container .container-inner .navbar ul li .nav-link:hover::after {
  width: 100%;
}
.header .container .container-inner .navbar ul li .nav-link::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #46b20f;
  border-radius: 99px;
  transition: width 0.5s ease-in-out;
}
.header .container .container-inner .navbar ul li .icon-down {
  display: none;
}
.header .container .container-inner .header-actions {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.header .container .container-inner .header-actions .cart-icon {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  transform: translateX(10px) translateY(2px);
}
.header .container .container-inner .header-actions .cart-icon span {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #e05000;
  color: #fff;
  border-radius: 50%;
  padding: 0 4px;
}
.header .container .container-inner .header-actions .search-icon {
  transform: translateX(10px) translateY(3px);
}
.header .container .container-inner .header-actions .burger {
  display: none;
  font-size: 3rem;
}

@media only screen and (max-width: 991px) {
  .header .container {
    position: relative;
    max-width: 720px;
  }
  .header .container .container-inner input[type=checkbox] {
    display: block;
  }
  .header .container .container-inner input[type=checkbox] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 109px;
    z-index: 5;
    cursor: pointer;
    opacity: 0;
  }
  .header .container .container-inner input[type=checkbox]:checked ~ .navbar ul {
    transform: translateX(0);
  }
  .header .container .container-inner input[type=checkbox]:checked ~ .overlay {
    min-height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }
  .header .container .container-inner .navbar .burger {
    display: block;
    position: absolute;
    top: 50%;
    left: 64px;
    transform: translateY(-50%);
  }
  .header .container .container-inner .navbar .burger i {
    font-size: 3rem;
  }
  .header .container .container-inner .navbar ul {
    position: fixed;
    inset: 0;
    flex-direction: column;
    background-color: #fff;
    max-width: 60%;
    min-width: 250px;
    min-height: 100vh;
    box-shadow: 5px 0px 10px 0px #aaa;
    overflow: scroll;
    transform: translate(-150%);
    transition: transform 0.5s ease-in-out;
  }
  .header .container .container-inner .navbar ul .exit-menu {
    display: block;
    position: absolute;
    top: 60px;
    right: 32px;
  }
  .header .container .container-inner .navbar ul .exit-menu i {
    font-size: 3rem;
  }
  .header .container .container-inner .navbar ul li .nav-link {
    display: inline-block;
    padding: 10px 0;
    margin: 20px 30px;
  }
  .header .container .container-inner .navbar ul li .nav-link::after {
    bottom: 0;
  }
  .header .container .container-inner .navbar ul li:first-of-type {
    display: inline-block;
    margin-top: 100px;
  }
  .header .container .container-inner .header-actions {
    column-gap: 30px;
    margin-right: 20px;
  }
  .header .container .container-inner .header-actions img {
    width: 35px;
  }
  .header .container .container-inner .header-actions .burger {
    display: block;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header .container {
    max-width: 540px;
    margin: 0 auto;
  }
  .header .container .container-inner .navbar .burger {
    left: 5px;
  }
  .header .container .container-inner .header-actions {
    column-gap: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .header .container {
    max-width: 462px;
  }
  .header .container .container-inner .header-logo img {
    width: 100px;
  }
  .header .container .container-inner .navbar .burger {
    left: 51px;
  }
  .header .container .container-inner .navbar .burger i {
    font-size: 2.4rem;
  }
  .header .container .container-inner .header-actions {
    column-gap: 20px;
  }
  .header .container .container-inner .header-actions img {
    width: 28px;
  }
}
@media only screen and (max-width: 460px) {
  .header .container {
    max-width: 345px;
  }
  .header .container .container-inner .navbar ul .menu-sub-mobile {
    display: block;
  }
  .header .container .container-inner .header-actions .cart-icon,
  .header .container .container-inner .header-actions .search-icon {
    display: none;
  }
  .header .container .container-inner .header-actions .burger {
    display: block !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header {
    padding: 10px 0;
  }
  .header .container {
    max-width: 960px;
  }
  .header .container .container-inner {
    justify-content: space-between;
  }
  .header .container .container-inner .header-logo {
    width: 124px;
    margin: 0;
  }
  .header .container .container-inner input[type=checkbox],
  .header .container .container-inner .hamburger-lines {
    display: none;
  }
  .header .container .container-inner .navbar label {
    display: none !important;
  }
  .header .container .container-inner .navbar ul li .nav-link {
    padding: 48px 0px;
    margin: 0 16px;
    font-size: 1.6rem;
  }
  .header .container .container-inner .navbar ul li .nav-link::after {
    bottom: 0;
  }
  .header .container .container-inner .navbar ul .menu-sub-mobile {
    display: none;
  }
  .header .container .container-inner .header-actions {
    column-gap: 26px;
  }
  .header .container .container-inner .header-actions img {
    width: 26px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 22px 0;
    height: 130px;
  }
  .header .container {
    max-width: 1140px;
  }
  .header .container .container-inner .navbar ul li .nav-link {
    padding: 56px 8px;
  }
}
@media only screen and (min-width: 1400px) {
  .header .container {
    max-width: 1320px;
  }
}
@media only screen and (min-width: 1500px) {
  .header .container {
    max-width: 1440px;
  }
}
.title-large {
  background-color: #f2ffec;
}
.title-large .container {
  max-width: 1440px;
}
.title-large .container .container-inner {
  margin-top: 130px;
  height: 200px;
}
.title-large .container .container-inner .title {
  line-height: 200px;
  font-size: 5.2rem;
  font-weight: 700;
  transform: translateX(5px) translateY(1px);
}

@media only screen and (max-width: 1499px) {
  .title-large .container {
    max-width: 1320px;
  }
}
@media only screen and (max-width: 1399px) {
  .title-large .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1199px) {
  .title-large .container {
    max-width: 960px;
  }
  .title-large .container .container-inner {
    margin-top: 112px;
  }
}
@media only screen and (max-width: 991px) {
  .title-large .container {
    max-width: 720px;
  }
  .title-large .container .container-inner {
    margin-top: 146px;
  }
}
@media only screen and (max-width: 767px) {
  .title-large .container {
    max-width: 540px;
  }
  .title-large .container .container-inner .title {
    font-size: 4.8rem;
  }
}
@media only screen and (max-width: 575px) {
  .title-large .container {
    max-width: 320px;
  }
  .title-large .container .container-inner {
    margin-top: 115px;
  }
  .title-large .container .container-inner .title {
    font-size: 4rem;
  }
}
.quantity-section .container {
  max-width: 1440px;
}
.quantity-section .container .container-inner {
  margin-top: 120px;
}
.quantity-section .container .container-inner .title {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.31;
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
  padding-top: 3px;
  padding-left: 3px;
  transform: translateX(3px) translateY(-2px);
}
.quantity-section .container .container-inner .desc {
  margin-top: 30px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.53;
  max-width: 772px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 12px;
  transform: translateY(-3px) translateX(2px);
}
.quantity-section .container .container-inner .quantity-list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 26px;
  height: 716px;
  margin-top: 30px;
  position: relative;
  transform: translateY(-12px) translateX(6px);
}
.quantity-section .container .container-inner .quantity-list::after, .quantity-section .container .container-inner .quantity-list::before {
  content: "";
  position: absolute;
  width: 282px;
  height: 282px;
  background-color: #dcffca;
  border-radius: 50%;
  z-index: -1;
  transform: translateY(14px);
}
.quantity-section .container .container-inner .quantity-list::before {
  top: 0;
  left: 0;
}
.quantity-section .container .container-inner .quantity-list::after {
  content: "";
  bottom: 0;
  right: 0;
  background-color: #ffd5bd;
}
.quantity-section .container .container-inner .quantity-list .quantity-item {
  box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 48px;
  padding-top: 30px;
}
.quantity-section .container .container-inner .quantity-list .quantity-item:not(:nth-child(2)) {
  width: 353px;
  height: 405px;
}
.quantity-section .container .container-inner .quantity-list .quantity-item:nth-child(2) {
  width: 411px;
  height: 471px;
  padding-top: 62px;
}
.quantity-section .container .container-inner .quantity-list .quantity-item .icon {
  display: inline-block;
  padding: 23px;
  border-radius: 12px;
  background-color: #fff0e7;
  transform: translateY(10px) translateX(-4px);
}
.quantity-section .container .container-inner .quantity-list .quantity-item .icon-center {
  background-color: #f2ffec;
}
.quantity-section .container .container-inner .quantity-list .quantity-item .number {
  display: block;
  margin: 28px 0 30px;
  font-size: 5.2rem;
  font-weight: 800;
  line-height: normal;
  transform: translateY(5px) translateX(-2px);
}
.quantity-section .container .container-inner .quantity-list .quantity-item .desc {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.54;
  max-width: 267px;
  text-align: left;
  padding-left: 2px;
  transform: translateY(6px) translateX(-6px);
}
.quantity-section .container .container-inner .quantity-list .quantity-item .desc-center {
  max-width: 329px;
}

@media only screen and (max-width: 1499px) {
  .quantity-section .container {
    max-width: 1320px;
  }
  .quantity-section .container .container-inner .quantity-list::after, .quantity-section .container .container-inner .quantity-list::before {
    width: 258px;
    height: 258px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item:not(:nth-child(2)) {
    width: 322px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item:nth-child(2) {
    width: 375px;
  }
}
@media only screen and (max-width: 1399px) {
  .quantity-section .container {
    max-width: 1140px;
  }
  .quantity-section .container .container-inner .quantity-list::after, .quantity-section .container .container-inner .quantity-list::before {
    width: 223px;
    height: 223px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item:not(:nth-child(2)) {
    width: 276px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item:nth-child(2) {
    width: 321px;
  }
}
@media only screen and (max-width: 1199px) {
  .quantity-section .container {
    max-width: 960px;
  }
  .quantity-section .container .container-inner .quantity-list {
    column-gap: 20px;
    height: 640px;
  }
  .quantity-section .container .container-inner .quantity-list::after, .quantity-section .container .container-inner .quantity-list::before {
    width: 152px;
    height: 152px;
  }
  .quantity-section .container .container-inner .quantity-list::before {
    top: 34px;
  }
  .quantity-section .container .container-inner .quantity-list::after {
    bottom: 34px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item {
    padding: 20px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item:not(:nth-child(2)) {
    width: 234px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item:nth-child(2) {
    width: 272px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .icon {
    padding: 18px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .number {
    font-size: 4.6rem;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .desc {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 991px) {
  .quantity-section .container {
    max-width: 720px;
    position: relative;
  }
  .quantity-section .container .container-inner .quantity-list {
    flex-direction: column;
    row-gap: 20px;
    height: 640px;
    max-width: 100%;
    margin-top: 80px;
  }
  .quantity-section .container .container-inner .quantity-list::after, .quantity-section .container .container-inner .quantity-list::before {
    width: 141px;
    height: 141px;
  }
  .quantity-section .container .container-inner .quantity-list::before {
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-100%);
  }
  .quantity-section .container .container-inner .quantity-list::after {
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(50%);
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item {
    padding: 20px;
    max-width: 100%;
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item:not(:nth-child(2)) {
    width: 100%;
    height: 240px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item:nth-child(2) {
    width: 100%;
    height: 240px;
    padding-top: 0;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .icon {
    padding: 18px;
    margin-right: auto;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .number {
    font-size: 4.6rem;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .desc {
    font-size: 2rem;
    max-width: 100%;
    margin: 0;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .desc-center {
    max-width: 326px;
  }
}
@media only screen and (max-width: 767px) {
  .quantity-section .container {
    max-width: 540px;
  }
  .quantity-section .container .container-inner .title {
    font-size: 3rem;
    max-width: 540px;
  }
  .quantity-section .container .container-inner .desc {
    max-width: 540px;
  }
}
@media only screen and (max-width: 575px) {
  .quantity-section .container {
    max-width: 320px;
  }
  .quantity-section .container .container-inner .title {
    font-size: 2rem;
    max-width: 320px;
  }
  .quantity-section .container .container-inner .desc {
    max-width: 320px;
  }
  .quantity-section .container .container-inner .quantity-list {
    height: fit-content;
    margin-top: 40px;
  }
  .quantity-section .container .container-inner .quantity-list::after, .quantity-section .container .container-inner .quantity-list::before {
    width: 62px;
    height: 62px;
  }
  .quantity-section .container .container-inner .quantity-list::before {
    top: 0;
    left: 0;
    transform: translateY(-50%) translateX(-50%);
  }
  .quantity-section .container .container-inner .quantity-list::after {
    bottom: 0;
    left: 100%;
    transform: translateY(50%) translateX(-50%);
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item {
    flex-direction: column;
    align-items: center;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .icon {
    margin: 0;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .icon img {
    width: 30px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .number {
    font-size: 3rem;
    margin: 16px 0;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .desc {
    text-align: center;
  }
}
@media only screen and (max-width: 460px) {
  .quantity-section .container {
    max-width: 320px;
  }
  .quantity-section .container .container-inner .title {
    font-size: 2rem;
    max-width: 320px;
  }
  .quantity-section .container .container-inner .desc {
    max-width: 320px;
  }
  .quantity-section .container .container-inner .quantity-list {
    height: fit-content;
    margin-top: 40px;
  }
  .quantity-section .container .container-inner .quantity-list::after, .quantity-section .container .container-inner .quantity-list::before {
    width: 50px;
    height: 50px;
  }
  .quantity-section .container .container-inner .quantity-list::before {
    top: 0;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  .quantity-section .container .container-inner .quantity-list::after {
    bottom: 0;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item {
    flex-direction: column;
    align-items: center;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .icon {
    margin: 0;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .icon img {
    width: 30px;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .number {
    font-size: 3rem;
    margin: 16px 0;
  }
  .quantity-section .container .container-inner .quantity-list .quantity-item .desc {
    text-align: center;
  }
}
.about-greenchop .container {
  max-width: 1440px;
}
.about-greenchop .container .container-inner {
  max-width: 1170px;
  margin: 0 auto;
}
.about-greenchop .container .container-inner .title {
  margin-top: 120px;
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.31;
  text-align: center;
  margin-bottom: 30px;
  transform: translateX(-14px) translateY(3px);
}
.about-greenchop .container .container-inner .about-item {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 142px;
  margin-bottom: 60px;
}
.about-greenchop .container .container-inner .about-item .text {
  width: 452px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.53;
}
.about-greenchop .container .container-inner .about-item .text-row-1 {
  transform: translateY(-7px) translateX(9px);
}
.about-greenchop .container .container-inner .about-item .image-row-1 {
  transform: translateX(9px) translateY(2px);
}
.about-greenchop .container .container-inner .about-item .text-row-2 {
  transform: translateY(-6px) translateX(-16px);
}
.about-greenchop .container .container-inner .about-item .image-row-2 {
  transform: translateX(-14px) translateY(-2px);
}
.about-greenchop .container .container-inner .about-item .text-row-3 {
  transform: translateY(-25px) translateX(-42px);
}
.about-greenchop .container .container-inner .about-item .image-row-3 {
  transform: translateX(60px) translateY(-10px);
}
.about-greenchop .container .container-inner .about-item .text-middle-width {
  width: 528px;
}
.about-greenchop .container .container-inner .about-item .order-2 {
  order: 2;
}
.about-greenchop .container .container-inner .about-item .order-1 {
  order: 1;
}

@media only screen and (max-width: 1499px) {
  .about-greenchop * {
    transform: translate(0) !important;
  }
  .about-greenchop .container {
    max-width: 1320px;
  }
  .about-greenchop .container .container-inner .about-item .text {
    text-align: center;
  }
}
@media only screen and (max-width: 1399px) {
  .about-greenchop .container {
    max-width: 1140px;
  }
}
@media only screen and (max-width: 1199px) {
  .about-greenchop .container {
    max-width: 960px;
  }
  .about-greenchop .container .container-inner .about-item {
    column-gap: 100px;
  }
}
@media only screen and (max-width: 991px) {
  .about-greenchop .container {
    max-width: 720px;
  }
  .about-greenchop .container .container-inner .about-item {
    column-gap: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .about-greenchop .container {
    max-width: 540px;
  }
  .about-greenchop .container .container-inner .about-item {
    flex-direction: column;
  }
  .about-greenchop .container .container-inner .about-item .order-2 {
    order: 1;
  }
  .about-greenchop .container .container-inner .about-item .order-1 {
    order: 2;
  }
}
@media only screen and (max-width: 575px) {
  .about-greenchop .container {
    max-width: 320px;
  }
  .about-greenchop .container .container-inner .about-item .text {
    width: 290px;
  }
}
.main-product {
  background-image: url(../../images/background-main-product.svg);
  position: relative;
  height: 470px;
  transform: translateY(46px);
}
.main-product::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.main-product .container {
  max-width: 1440px;
}
.main-product .container .title {
  padding-top: 84px;
  color: #fff;
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.31;
  text-align: center;
  transform: translateX(9px) translateY(1px);
}
.main-product .container .content {
  position: relative;
}
.main-product .container .content .desc {
  margin-top: 60px;
  color: #fff;
  max-width: 976px;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(8px) translateY(-1px);
}
.main-product .container .content .img-left,
.main-product .container .content .img-right {
  position: absolute;
}
.main-product .container .content .img-left {
  top: -55px;
  left: 65px;
  transform: translateX(11px);
}
.main-product .container .content .img-right {
  bottom: -64px;
  right: 70px;
  transform: translateY(4px) translateX(1px);
}

@media only screen and (max-width: 1499.98px) {
  .main-product .container {
    max-width: 1320px;
  }
  .main-product .container .content .img-left {
    left: 23px;
  }
  .main-product .container .content .img-right {
    right: 38px;
  }
}
@media only screen and (max-width: 1399.98px) {
  .main-product .container {
    max-width: 1140px;
  }
  .main-product .container .content .desc {
    max-width: 780px;
  }
  .main-product .container .content .img-left {
    left: 23px;
  }
  .main-product .container .content .img-right {
    right: 38px;
  }
}
@media only screen and (max-width: 1199.98px) {
  .main-product .container {
    max-width: 960px;
  }
  .main-product .container .content .desc {
    max-width: 626px;
  }
  .main-product .container .content .img-left {
    top: -48px;
  }
  .main-product .container .content .img-right {
    bottom: -44px;
    right: 32px;
  }
}
@media only screen and (max-width: 991.98px) {
  .main-product .container {
    max-width: 720px;
  }
  .main-product .container .content .desc {
    max-width: 540px;
  }
  .main-product .container .content .img-left,
  .main-product .container .content .img-right {
    width: 80px;
  }
  .main-product .container .content .img-left {
    top: -40px;
    left: -3px;
  }
  .main-product .container .content .img-right {
    bottom: -14px;
    right: -6px;
  }
}
@media only screen and (max-width: 767.98px) {
  .main-product .container {
    max-width: 540px;
  }
  .main-product .container .title {
    font-size: 3rem;
  }
  .main-product .container .content .desc {
    font-size: 1.6rem;
    max-width: 395px;
  }
  .main-product .container .content .img-left,
  .main-product .container .content .img-right {
    width: 60px;
  }
  .main-product .container .content .img-left {
    top: -16px;
    left: 0px;
  }
  .main-product .container .content .img-right {
    bottom: -16px;
    right: 10px;
  }
}
@media only screen and (max-width: 575.98px) {
  .main-product .container {
    max-width: 320px;
  }
  .main-product .container .title {
    font-size: 2.4rem;
    padding-top: 40px;
  }
  .main-product .container .content .desc {
    font-size: 1.4rem;
    max-width: 228px;
  }
  .main-product .container .content .img-left,
  .main-product .container .content .img-right {
    width: 50px;
  }
  .main-product .container .content .img-left {
    top: -16px;
    left: -7px;
  }
  .main-product .container .content .img-right {
    bottom: -10px;
    right: 0px;
  }
}
.mission-section {
  transform: translateX(-68px) translateY(44px);
}
.mission-section .container {
  max-width: 1440px;
}
.mission-section .container .container-inner {
  max-width: 1305px;
  height: 598px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.mission-section .container .container-inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 91px;
  bottom: 27px;
  width: 480px;
  height: 480px;
  background-color: #dcffca;
  border-radius: 50%;
  z-index: -2;
  transform: translateX(9px);
}
.mission-section .container .container-inner::after {
  content: "";
  position: absolute;
  left: 289px;
  top: 334px;
  bottom: 0;
  width: 264px;
  height: 264px;
  background-color: #ffd5bd;
  border-radius: 50%;
  z-index: -1;
  transform: translateX(9px);
}
.mission-section .container .container-inner .image {
  border-radius: 8px;
}
.mission-section .container .container-inner .image img {
  width: 480px;
  height: 438px;
  border-radius: 8px;
  box-shadow: -11px 31px 56px 0px rgba(0, 0, 0, 0.15);
}
.mission-section .container .container-inner .content {
  max-width: 492px;
  margin-left: 100px;
  margin-top: 100px;
  transform: translateY(-18px) translateX(9px);
}
.mission-section .container .container-inner .content .title {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 1.31;
  margin-bottom: 32px;
}
.mission-section .container .container-inner .content .desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.53;
}

@media only screen and (max-width: 1499px) {
  .mission-section {
    text-align: center;
  }
  .mission-section .container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
  .mission-section .container .container-inner {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 1399px) {
  .mission-section .container {
    max-width: 1140px;
  }
  .mission-section .container .container-inner {
    max-width: 1033px;
    height: fit-content;
  }
  .mission-section .container .container-inner::before {
    width: 400px;
    height: 400px;
  }
  .mission-section .container .container-inner::after {
    width: 200px;
    height: 200px;
  }
  .mission-section .container .container-inner .image img {
    width: 400px;
    height: auto;
  }
  .mission-section .container .container-inner .content {
    margin-left: 50px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1199px) {
  .mission-section .container {
    max-width: 960px;
  }
  .mission-section .container .container-inner {
    max-width: 960px;
    height: fit-content;
  }
  .mission-section .container .container-inner::before {
    width: 350px;
    height: 350px;
  }
  .mission-section .container .container-inner::after {
    display: none;
  }
  .mission-section .container .container-inner .image img {
    width: 350px;
    height: auto;
  }
  .mission-section .container .container-inner .content {
    max-width: 468px;
    margin-top: 0px;
  }
}
@media only screen and (max-width: 991px) {
  .mission-section .container {
    max-width: 720px;
  }
  .mission-section .container .container-inner {
    max-width: 720px;
  }
  .mission-section .container .container-inner::before {
    width: 200px;
    height: 200px;
    top: 0;
  }
  .mission-section .container .container-inner .image {
    display: flex;
    align-items: center;
  }
  .mission-section .container .container-inner .image img {
    width: 300px;
  }
  .mission-section .container .container-inner .content {
    max-width: 300px;
  }
  .mission-section .container .container-inner .content .title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .mission-section .container {
    max-width: 540px;
  }
  .mission-section .container .container-inner {
    max-width: 540px;
    justify-content: center;
  }
  .mission-section .container .container-inner::before {
    width: 200px;
    height: 200px;
    top: 0;
  }
  .mission-section .container .container-inner::after {
    display: none;
  }
  .mission-section .container .container-inner .image {
    display: none;
  }
  .mission-section .container .container-inner .content {
    max-width: 500px;
  }
  .mission-section .container .container-inner .content .title {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 575px) {
  .mission-section {
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-28px);
  }
  .mission-section .container {
    max-width: 320px;
  }
  .mission-section .container .container-inner {
    max-width: 320px;
  }
  .mission-section .container .container-inner::before {
    display: none;
  }
  .mission-section .container .container-inner .content {
    max-width: 320px;
  }
}
.footer-section {
  margin-top: 138px;
  background-color: #f2ffec;
}
.footer-section .container {
  max-width: 1183px;
}
.footer-section .container .container-inner {
  padding-top: 40px;
}
.footer-section .container .container-inner .info-list {
  display: flex;
  justify-content: space-between;
}
.footer-section .container .container-inner .info-list .info-item .image img {
  width: auto;
  height: 163px;
}
.footer-section .container .container-inner .info-list .info-item .text-image {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.53;
  max-width: 230px;
  margin-left: auto;
  transform: translateX(15px) translateY(5px);
}
.footer-section .container .container-inner .info-list .info-text {
  padding-top: 40px;
  transform: translateX(10px);
}
.footer-section .container .container-inner .info-list .info-text .title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 16px;
  color: #46b20f;
}
.footer-section .container .container-inner .info-list .info-text .title-home {
  transform: translateY(-1px) translateX(1px);
}
.footer-section .container .container-inner .info-list .info-text .title-support {
  transform: translateX(-5px) translateY(-1px);
}
.footer-section .container .container-inner .info-list .info-text .title-contact {
  transform: translateX(3px) translateY(-1px);
}
.footer-section .container .container-inner .info-list .info-text .text {
  margin-bottom: 8px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.53;
}
.footer-section .container .container-inner .info-list .info-text .text-home {
  transform: translateX(1px);
}
.footer-section .container .container-inner .info-list .info-text .text-last {
  margin-bottom: 0;
}
.footer-section .container .container-inner .info-list .info-text .text-support {
  transform: translateX(-4px) translateY(-1px);
}
.footer-section .container .container-inner .info-list .info-text .text-wrap {
  display: flex;
  align-items: center;
  column-gap: 12px;
  transform: translateX(-4px);
}
.footer-section .container .container-inner .info-list .info-text .text-wrap span {
  font-weight: 600;
  line-height: 1.5;
}
.footer-section .container .container-inner .info-list .info-text .text-wrap .text-col-last {
  font-weight: 400;
  line-height: 1.53;
}
.footer-section .container .container-inner .info-list .info-text .text-contact {
  transform: translateX(3px) translateY(-1px);
}
.footer-section .container .container-inner .info-list .info-last {
  transform: translateX(-2px);
}
.footer-section .container .container-inner .info-list .info-last .text-wrap {
  align-items: flex-start;
}
.footer-section .container .container-inner .seperate {
  width: 100%;
  height: 2px;
  background-color: #a3a3a3;
  margin-top: 86px;
}
.footer-section .container .container-inner .social-wrap {
  margin-top: 29px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(10px);
}
.footer-section .container .container-inner .social-wrap .image-copyright {
  transform: translateY(3px) translateX(-2px);
}
.footer-section .container .container-inner .social-wrap .social-list {
  display: flex;
  column-gap: 8px;
}
.footer-section .container .container-inner .social-wrap .social-list .image {
  width: 48px;
  height: 48px;
  background-color: #dcffca;
  line-height: 48px;
  border-radius: 50%;
  transform: translateY(2px) translateX(-1px);
}
.footer-section .container .container-inner .social-wrap .social-list .image img {
  display: block;
  padding: 11px;
}

@media screen and (max-width: 1399px) {
  .footer-section .container {
    max-width: 1130px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-section .container {
    max-width: 950px;
  }
}
@media screen and (max-width: 991.98px) {
  .footer-section .container {
    max-width: 720px;
  }
  .footer-section .container .container-inner .info-list {
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: center;
  }
  .footer-section .container .container-inner .info-list .info-item {
    text-align: left;
  }
  .footer-section .container .container-inner .info-list .info-item:first-child {
    flex-basis: 100%;
  }
  .footer-section .container .container-inner .info-list .info-item:not(:first-child) {
    flex-basis: calc((100% - 60px) / 3);
  }
  .footer-section .container .container-inner .info-list .info-item .text-image {
    margin-left: 0;
  }
  .footer-section .container .container-inner .info-list .info-item .text-wrap {
    justify-content: flex-start;
  }
  .footer-section .container .container-inner .info-list .info-item .text-wrap .text-tablet {
    padding-right: 84px;
  }
  .footer-section .container .container-inner .info-list .info-item .text-wrap .text-tablet-last {
    padding-right: 13px;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-section .container {
    max-width: 540px;
  }
  .footer-section .container .container-inner .info-list .info-item {
    flex-basis: 100% !important;
  }
}
@media screen and (max-width: 575.98px) {
  .footer-section .container {
    max-width: 320px;
  }
  .footer-section .container .container-inner .info-list {
    flex-direction: column;
  }
  .footer-section .container .container-inner .info-list .info-item .text-wrap {
    justify-content: flex-start;
  }
  .footer-section .container .container-inner .info-list .info-item .text-wrap .text-tablet {
    padding-right: 83px;
  }
  .footer-section .container .container-inner .info-list .info-item .text-wrap .text-tablet-last {
    padding-right: 12px;
  }
  .footer-section .container .container-inner .info-list .info-last {
    transform: translateX(12px) !important;
  }
  .footer-section .container .container-inner .social-wrap {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=style-about.css.map */
