.desc-section {
  .container {
    max-width: 1544px;
    margin-right: 0;
    margin-left: auto;

    .container-inner {
      margin-top: 124px;
      display: flex;
      justify-content: flex-end;

      .content {
        position: relative;
        width: 784px;
        height: 420px;
        border-radius: 0px 10px 10px 0px;
        background-color: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        transform: translateY(-25px) translateX(16px);
        .text {
          width: 100%;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.54;
          padding: 109px 56px 62px 75px;
        }

        &::before {
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          width: 10px;
          height: 420px;
          border-radius: 0px 10px 10px 0px;
          background-color: #46b20f;
        }
      }

      .image {
        max-width: 706px;
        margin-left: 54px;
        // transform: translateX(16px) translateY(16px);
      }
    }
  }
}

@media screen and (max-width: 1499px) {
  .desc-section {
    .container {
      max-width: 1320px;

      .container-inner {
        .content {
          max-width: 784px;
          height: auto;

          &::before {
            height: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1399px) {
  .desc-section {
    .container {
      max-width: 1140px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .desc-section {
    .container {
      max-width: 960px;
      margin-right: auto;

      .container-inner {
        .content {
          margin: 0 auto;
        }

        .image {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .desc-section {
    .container {
      max-width: 720px;

      .container-inner {
        .content {
          .text {
            font-size: 1.8rem;
            padding: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .desc-section {
    .container {
      max-width: 540px;
    }
  }
}

@media screen and (max-width: 575px) {
  .desc-section {
    .container {
      max-width: 320px;
    }
  }
}
