.service-section {
  .container {
    max-width: 1440px;

    .service-list {
      $column-gap: 63px;
      max-width: 1179px;
      display: flex;
      align-items: center;
      column-gap: $column-gap;
      row-gap: 47px;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-top: 256px;
      transform: translateX(12px) translateY(15px);

      .service-item {
        flex-basis: calc((100% - $column-gap * 2) / 3);
        display: flex;
        column-gap: 19px;

        .icon {
          transform: translateX(-4px);
          img {
            max-width: none;
            height: 67px;
          }
        }

        .icon-1 {
          transform: translateX(2px);
        }

        .icon-3 {
          transform: translateY(3px) translateX(-5px);
        }

        .icon-4 {
          transform: translateX(3px);
        }

        .icon-6 {
          transform: translateX(-8px);
        }

        .content {
          .title {
            margin-bottom: 8px;
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 1.33;
            transform: translateX(-3px);
          }

          .title-1 {
            transform: translateX(2px) translateY(1px);
          }

          .title-2 {
            transform: translateX(-4px) translateY(1px);
          }

          .title-3 {
            transform: translateY(2px) translateX(-3px);
          }

          .title-4 {
            transform: translateY(2px) translateX(1px);
          }

          .title-5 {
            transform: translateY(2px) translateX(-3px);
          }

          .title-6 {
            transform: translateY(2px) translateX(-8px);
          }

          .desc {
            width: 260px;
            height: 117px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: normal;
          }

          .desc-1 {
            transform: translateX(1px) translateY(3px);
          }

          .desc-2 {
            transform: translateY(2px) translateX(-3px);
          }

          .desc-3 {
            transform: translateY(2px) translateX(-4px);
          }

          .desc-4 {
            transform: translateY(2px) translateX(1px);
          }

          .desc-5 {
            transform: translateY(2px) translateX(-3px);
          }

          .desc-6 {
            transform: translateY(2px) translateX(-8px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1499px) {
  .service-section {
    .container {
      max-width: 1320px;
    }
  }
}

@media only screen and (max-width: 1399px) {
  .service-section {
    .container {
      max-width: 1140px;

      .service-list {
        $column-gap: 40px;
        column-gap: $column-gap;
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .service-section {
    .container {
      max-width: 960px;

      .service-list {
        $column-gap: 20px;
        column-gap: $column-gap;

        .service-item {
          .content {
            .title {
              font-size: 2rem;
            }

            .desc {
              width: 223px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .service-section {
    .container {
      max-width: 720px;

      .service-list {
        $column-gap: 20px;
        column-gap: $column-gap;
        row-gap: 30px;

        .service-item {
          column-gap: 20px;
          flex-basis: calc((100% - $column-gap) / 2);

          .icon {
            img {
              width: 67px;
            }
          }

          .content {
            .title {
              font-size: 2rem;
            }

            .desc {
              width: 232px;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .service-section {
    .container {
      max-width: 540px;

      .service-list {
        row-gap: 10px;
        justify-content: center;
        margin-top: 100px;

        .service-item {
          column-gap: 20px;
          flex-basis: 100%;
          justify-content: center;

          .icon {
            img {
              width: 67px;
            }
          }

          .content {
            .title {
              font-size: 2rem;
            }

            .desc {
              width: 232px;
              font-size: 1.6rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .service-section {
    .container {
      max-width: 320px;
    }
  }
}
