/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  overflow-x: hidden;
  position: relative;
}

html {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

body {
  padding: 100px;
  width: 1300px;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid #666;
}

/* header__nav */
.header__nav {
  display: flex;
  width: 100%;
  border: 1px solid#666;
  justify-content: space-between;
}

.nav__list {
  display: inline-flex;
}

.nav-item,
.nav-item__link,
.nav-item__wrap {
  display: inline-flex;
  align-items: center;
}

.nav-item {
  border-right: 1px solid #666;
  min-height: 60px;
  padding: 5px;
}

.nav-item__link {
  margin: 0 20px;
  color: #666;
}

.nav__right .nav-item {
  border-left: 1px solid #666;
  border-right: none;
}

p.nav-item__text {
  margin: 0 10px;
}

.navbar-item__down {
  margin-top: 4px;
}

.nav-item__wrap:hover {
  background: #2da5da;
}

.nav-item__wrap:hover .nav-item__link {
  color: #fff;
}

.nav-item__wrap {
  width: 100%;
  height: 100%;
}

.nav-has-sub-menu {
  position: relative;
}

.nav_sub-menu {
  background: #fff;
  z-index: 1;
  position: absolute;
  right: 0;
  width: 247px;
  box-shadow: 0px 0px 21px 0px #666;
  top: 129%;
  display: none;
}

li.nav-opition-item {
  padding: 10px;
  border-bottom: 1px solid #666;
}

.nav-opition-item a i ~ span {
  line-height: 43px;
  color: #666;
  font-size: 14px;
}

.nav-opition-item > a > i {
  margin: 0px 8px;
  font-weight: bold;
  color: #666;
  font-size: 15px;
}

.nav-opition-item:hover {
  background: #2da5da;
}

.nav-opition-item:hover a > i,
.nav-opition-item:hover a > span {
  color: #fff;
}

.nav_sub-menu::before {
  content: "";
  border-width: 12px 9px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  right: 17px;
  top: -24px;
}

.nav_sub-menu::after {
  content: "";
  display: block;
  position: absolute;
  width: 132px;
  height: 20px;
  right: 0;
  top: -16px;
}
.nav-has-sub-menu:hover .nav_sub-menu {
  display: block;
}
