.form-section {
  .container {
    max-width: 1440px;

    .container-inner {
      display: flex;
      justify-content: flex-start;
      margin-top: 160px;

      .image {
        max-width: 583px;
        height: 598px;
        margin-right: 142px;
        transform: translateY(14px) translateX(12px);
      }

      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        transform: translateY(82px) translateX(16px);

        .title {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.33;
          margin-bottom: 34px;
          text-align: left;
          margin-right: auto;
          transform: translateX(-2px);
        }

        .row {
          width: 100%;

          input {
            margin-bottom: 28px;
            padding: 16px 0 16px 16px;
            transform: translateY(2px);
          }

          input,
          textarea {
            border-radius: 8px;
            border: 1px solid #a3a3a3;
            width: 100%;
          }

          textarea {
            padding: 16px 0 130px 16px;
            transform: translateY(10px);
          }

          textarea::placeholder,
          input::placeholder {
            font-family: $fontFamily;
            font-size: 1.8rem;
            font-weight: 400;
            color: #a3a3a3;
          }
        }

        .row2 {
          display: flex;
          column-gap: 21px;
          transform: translateY(2px) translateX(-2px);

          input {
            flex-basis: calc((100% - 21px) / 2);
          }
        }

        .send {
          width: 154px;
          height: 56px;
          display: block;
          padding: 16px 14px;
          border-radius: 8px;
          color: #fff;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          background-color: #46b20f;
          margin-top: 32px;
          margin-left: auto;
          transform: translateX(-8px) translateY(4px);
        }
      }
    }
  }
}

@media only screen and (max-width: 1499px) {
  .form-section {
    .container {
      max-width: 1320px;
    }
  }
}

@media only screen and (max-width: 1399px) {
  .form-section {
    .container {
      max-width: 1140px;

      .container-inner {
        .image {
          max-width: 500px;
          margin-right: 130px;
        }

        .form {
          .row {
            input {
              margin-bottom: 18px;
            }
          }
        }

        .send {
          margin-top: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1199px) {
  .form-section {
    .container {
      max-width: 960px;

      .container-inner {
        margin-top: 120px;

        .image {
          max-width: 300px;
          margin-right: 100px;
          display: flex;
          align-items: center;
        }

        .form {
          .row {
            input {
              margin-bottom: 18px;
            }
          }
        }

        .send {
          margin-top: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .form-section {
    .container {
      max-width: 720px;

      .container-inner {
        .image {
          max-width: 200px;
          margin-right: 70px;
          display: flex;
          align-items: center;
        }

        .form {
          .row {
            input {
              margin-bottom: 18px;
            }
          }

          .row2 {
            input {
              flex-basis: 100%;
            }
          }
          .send {
            width: 100%;
            margin-top: 28px;
            transform: translateX(2px);
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .form-section {
    .container {
      max-width: 540px;

      .container-inner {
        margin-top: 40px;
        .image {
          display: none;
        }

        .form {
          .title {
            text-align: center;
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .form-section {
    .container {
      max-width: 320px;
    }
  }
}
