
$title_font: "Titillium Web", sans-serif;
$font_family: "Rajdhani", sans-serif;
$border_focus: #615dfa;
$checkbox_background_color: #23d2e2;
$primary_color: #615dfa;
$primary_text_color: #3e3f5e;
$border_input_color: #dedeea;
$text_form_color: #adafca;