#root {
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

// .loading {
//     display: none;
// }
