* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

/*  ===============COMMON============= */
a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
}

.container {
    width: 1100px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

.btn {
    min-width: 160px;
    height: 50px;
    outline: none;
    background: #2c3033;
    border: 1px solid #2c3033;
    border-radius: 5px;
}

/*  ===============Content============= */
.info_item .info_link {
    text-decoration: none;
    color: black;
}

.cta__btn {
    min-width: 200px;
    background: #8498cb;
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
}

.cta__heading {
    font-size: 5.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.cta__heading--bold {
    font-weight: 700;
    color: #00b0f4;
}

.cta__desc {
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.cta__row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}