/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  line-height: 1.42857143;
  box-sizing: border-box;
}

ul,
ol,
a {
  list-style: none;
  text-decoration: none;
}

/* section css */
main {
  width: 1100px;
  max-width: 100%;
  margin: 50px auto;
  border: 1px solid black;
  padding: 35px;
}

.title {
  animation: fadeOutDown 1s linear;
}
