// Import Parts
@import "./parts/variables";
@import "./parts/font";
@import "./parts/reset";
@import "./parts/root";
@import "./parts/mixin";
@import "./parts/base";
@import "./parts/grid";

//Import Layout
@import "./layouts/header";
@import "./layouts/footer";
@import "./layouts_home/hero";

.section {
  // display: none;
  .container {
    padding-top: 62px;
  }

  .container-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  //   section-number
  &-number {
    &__title {
      max-width: 558px;
      text-align: center;
    }

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 28px;
      height: 572px;
      position: relative;
      width: 83%;
      margin-top: 44px;

      &::before {
        content: "";
        @include circle(235px, 235px, #dcffca, 50%, -1);
        top: 0;
        left: 0;
        position: absolute;
        transform: translateX(-112px) translateY(-33px);
        -webkit-transform: translateX(-112px) translateY(-33px);
        -moz-transform: translateX(-112px) translateY(-33px);
        -ms-transform: translateX(-112px) translateY(-33px);
        -o-transform: translateX(-112px) translateY(-33px);
      }

      &::after {
        content: "";
        @include circle(235px, 235px, #dcffca, 50%, -1);
        bottom: 0;
        right: 0;
        position: absolute;
        transform: translate(113px) translateY(-12px);
        -webkit-transform: translate(113px) translateY(-12px);
        -moz-transform: translate(113px) translateY(-12px);
        -ms-transform: translate(113px) translateY(-12px);
        -o-transform: translate(113px) translateY(-12px);
      }
    }

    &-item {
      min-width: 287px;
      background: var(--white);
      min-height: 337.5px;
      box-shadow: -7px 10px 87px 0px rgba(54, 54, 54, 0.12);
      border-radius: 4px;
      margin-top: -83px;

      &__quality {
        font-size: 4.3333rem;
        margin-top: 27px;
        font-weight: 800;
        margin-left: 2px;
      }

      &__icon {
        padding: 16px 19px 10px 19px;
        display: inline-block;
        background: var(--orange-100);
        border-radius: 10px;
      }

      &:nth-child(2) {
        padding: 68px 40px 40px 32px;
        min-width: 341px;
        min-height: 392.5px;

        .section-number-item__icon {
          background: #f2ffec;
        }
      }

      &:nth-child(1),
      &:nth-child(3) {
        max-width: 353px;
        padding: 42px 40px 40px 30px;
      }

      &:nth-child(3) {
        .section-number-item__desc {
          margin-left: -2px;
        }
      }

      &__desc {
        font-size: 2rem;
        font-weight: 400;
        margin-left: 2px;
        line-height: 3.0833rem;
        margin-top: 23px;
      }
    }
  }

  //   section-product
  &-product {
    display: none;

    .container {
      padding-top: 71px;
    }

    &-wrapp {
      justify-content: center;
      column-gap: 57.33px;
      row-gap: 78.41px;
    }

    &-list {
      margin-top: 46px;
    }

    &__title {
      text-align: center;
    }

    &__item {
      &::before {
        content: "";
        position: absolute;
        @include circle(269.316px, 269.316px, var(--orange-300), 50%, -1);
      }

      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }

    &__icon {
      padding-top: 120px;
      margin: 0 auto;
      transform: translateX(3px) translateY(-5px);
    }

    .circle-green {
      &::before {
        background: var(--green-300) !important;
      }
    }

    &__quantity {
      color: var(--grey-800);
      font-size: 1.6667rem;
      font-weight: 400;
      line-height: 2.1667rem;
      text-align: center;
      margin-top: 32px;
    }

    &__cost {
      color: var(--content, #2c2c2c);
      font-size: 1.6667rem;
      font-weight: 400;
      line-height: 2.1667rem;
      text-align: center;
      margin-top: -4px;

      span {
        color: var(--content, #2c2c2c);
        font-size: 2.3333rem;
        font-weight: 600;
        line-height: 2.6667px;
        margin-right: 2px;
      }
    }
  }

  //   section-news
  &-news {
    display: none;

    .container {
      padding-top: 92px;
    }

    &-item {
      &__image {
        border-radius: 8px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__name-calendar {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .name {
          font-size: 1.5rem;
          font-weight: 500;
          color: #46b20f;
        }

        .calendar {
          display: flex;
          align-items: center;
          column-gap: 12px;
        }
      }

      &-right__title {
        color: var(--content, #2c2c2c);
        font-size: 2rem;
        font-weight: 600;
        margin: 17px 0 16px 0;
        line-height: 2.6667rem; /* 133.333% */
      }

      &-right__desc {
        color: var(--content, #2c2c2c);
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.0417rem; /* 127.604% */
      }
    }

    &-list {
      margin-top: 32px;
    }

    .btn-subview {
      display: block;
      margin-top: 45px;
      margin-left: auto;
      margin-right: auto;
      padding: 11px 23px;
      border: 1px solid #46b20f;
      border-radius: 8px;
      background-color: #fff;
      font-size: 2rem;
      font-weight: 700;
      transform: translateX(-2px) translateY(-4px);

      span {
        color: var(--content, #2c2c2c);
        font-size: 1.6667rem;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  // section-benefit
  &-benefit {
    display: none;

    .benefit-item__inner {
      height: 100%;
      background-color: var(--white);
    }
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      top: 397px;
      width: 100vw;
      background-color: #fff0e7;
      height: 353px;
      transform: translateY(30px);
      z-index: -1;
      border-radius: 10px;
    }

    .container {
      padding-top: 76px;
    }

    &-list {
      margin-top: 60px;
      counter-reset: number;

      .row {
        width: 95%;
        margin: 0 auto;
      }
    }

    &__title {
      color: var(--content, #2c2c2c);
      text-align: center;
      font-size: 3.1667rem;
      font-weight: 800;
      line-height: 4.1649rem; /* 41.649px */
    }

    &__desc {
      color: var(--content, #2c2c2c);
      text-align: center;
      font-size: 1.6rem;
      margin-top: 24px;
      font-weight: 400;
      line-height: 2.0417rem;
    }

    &-item {
      border-radius: 10px;

      &__image {
        img {
          border-radius: 10px;
        }
      }

      &__content {
        padding: 24px 20px 0 30px;

        .benefit__content {
          &-title {
            color: var(--orange-700, #e05000);
            text-shadow: 0px 3.3333332538604736px 3.3333332538604736px 0px
              rgba(0, 0, 0, 0.25);
            font-size: 2rem;
            font-weight: 600;
            line-height: 2.6667rem;

            &::before {
              counter-increment: number;
              content: "0" counter(number) ". ";
            }
          }

          &-desc {
            color: var(--content, #19191b);
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.0417rem;
            max-width: 232px;
            margin-top: 6px;
          }
        }
      }

      &:nth-child(2) {
        .benefit__content-desc {
          max-width: 295px;
        }
      }
    }
  }

  // section service
  &-service {
    display: none;

    .container {
      width: 63%;
      padding-top: 215px;
    }

    .service {
      &-item {
        display: flex;
        min-height: 157px;

        &__img {
          min-width: 5.8833rem;
          height: 5.8833rem;
          margin: 18px 14px 0 0;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        &__title {
          color: var(--content, #2c2c2c);
          font-family: Inter;
          font-size: 2rem;
          font-weight: 600;
          line-height: 2.6667rem; /* 133.333% */
        }

        &__desc {
          color: var(--content, #2c2c2c);
          font-family: Inter;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: normal;
          margin-top: -16px;
          max-width: 200px;
        }
      }
    }
  }

  // section-form
  &-form {
    display: none;

    .container {
      padding-top: 98px;
      padding-bottom: 89px;
    }

    &__img {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        left: 43px;
        top: 60px;
        @include circle(
          439.167px,
          439.167px,
          var(--orange-100, #fff0e7),
          50%,
          -1
        );
      }
    }

    .form {
      .title {
        color: var(--content, #2c2c2c);
        font-size: 2rem;
        font-style: normal;
        font-weight: 600;
        margin-top: 56px;
        margin-bottom: 27px;
        line-height: 2.6667rem; /* 133.333% */
      }

      .row-input {
        display: flex;
        gap: 19px;
      }

      input,
      textarea {
        color: var(--grey-500-main, #a3a3a3);
        width: 100%;
        height: 47px;
        border-radius: 8px;
        border: 0.833px solid var(--grey-500-main, #a3a3a3);
        padding: 16px;
        font-size: 1.6rem;
        font-weight: 400;
        margin-bottom: 21px;
      }

      textarea {
        height: 149px;
        margin-bottom: 32.06px;
        resize: none;
      }

      .send-btn {
        border-radius: 6.667px;
        background: var(--green-800-main, #46b20f);
        transform: translate(15px, -4px);
        padding: 14px 48px;
        justify-content: center;
        display: flex;
        color: var(--white, #fff);
        text-align: center;
        font-size: 1.66667rem;
        font-weight: 700;
        margin: -6px 0 0 auto;
      }
    }
  }
}

@media screen and (min-width: 992px) {
}

// position: fixed;
// right: 0;
// bottom: 0;
// transform: translate(41px, -67px);
// max-width: 351px;
// margin-top: -3px;
