$primaryColor: #615dfa;
$primaryColorText: #3e3f5e;
$textFormColor: #adafca;
$borderInputColor: #dedeea;
$titleFontFamily: "Titillium Web", sans-serif;
$fontFamily: "Rajdhani", sans-serif;
$borderFocus: #615dfa;
$checkboxBackground: #23d2e2;
