.form__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form__wrapper > .grid__row {
  width: 100%;
}

.grid__column-4 {
  background: var(--primary-color);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.grid__column-8 {
  background-color: var(--white-color);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.form__left {
  width: 100%;
  margin: 40px 0;
  text-align: center;
  padding: 10px;
}

a.form__left-logo {
  font-size: 27px;
  font-weight: 900;
  line-height: 54px;
  color: var(--white-color);
}

.form__left-logo span {
  margin-right: 10px;
  background: var(--white-color);
  padding: 2px 8px;
  border-radius: 5px;
  color: var(--primary-color);
}

p.form__left-desc {
  margin: 20px 0 30px 0;
  font-size: 16px;
  color: var(--white-color);
}

.form__left p ~ a {
  background: var(--white-color);
  padding: 7px 31px;
  color: var(--primary-color);
}

.form__left p ~ a:hover {
  background: #ca070794;
  color: var(--white-color);
}

.form__left-social {
  display: flex;
  margin-top: 30px;
}

.form__left-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.left-social-item {
  margin: 0 4px;
}

.left-social-item a {
  padding: 8px 8px;
  border-radius: 4px;
  background: #ca070794;
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
}

.form__infor-input {
  display: block;
}

.form__infor-input input {
  width: 100%;
}

.form__right {
  margin: 40px 55px;
}

.form__infor-input input {
  border: 1px solid #71717157;
  padding: 7px 16px;
  margin-bottom: 28px;
  line-height: 2rem;
  font-size: 15px;
}

.forgot_pwd {
  float: right;
  color: var(--text-color);
}

.forgot_pwd:hover {
  color: var(--primary-color);
}

.input-check input {
  max-width: 20px;
  margin: 0 8px 0 0;
}

.input-check:hover span {
  color: var(--primary-color);
}

.input-check span {
  color: var(--text-color);
}

.input-check {
  display: flex;
  align-items: center;
}

.form__infor {
  margin-top: 30px;
}

.btn-login button {
  width: 100%;
  padding: 15px 15px;
  color: var(--white-color);
  background: var(--primary-color);
  font-size: 15px;
  border: none;
}

.btn-login {
  margin: 20px 0;
}

.btn-login:hover button {
  background: #cf1d1d94;
  font-weight: bold;
}

.check-account {
  text-align: center;
}

.check-account > a > span {
  color: var(--text-color);
}

h1 > span {
  color: var(--primary-color);
}

h1 {
  text-align: center;
}

h1::after {
  content: "";
  display: block;
  width: 70px;
  margin: 4px auto;
  border-bottom: 2px solid var(--primary-color);
}

.arrow-right::after {
  width: 20px;
  display: flex;
  justify-content: center;
  font-size: 15px;
  height: 20px;
  border-radius: 99px;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
  right: -20px;
  background: var(--white-color);
  color: var(--primary-color);
  position: absolute;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.arrow-right {
  display: flex;
  align-items: center;
  position: relative;
}
