body {
  background: #d0edffde; /* Light gray background */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 50px 0px;
}

.list {
  background: #ffffff; /* White background */
  max-width: 58%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.list-hidden {
  display: none;
}

.ghost {
  opacity: 0.6;
}

.list-item {
  font-weight: bold;
  background: #f0f0f0;
  padding: 1.4rem;
  border: 1px solid #d1d1d1;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  cursor: grab;
  font-size: 1.3rem;
  user-select: none;
  transition: background-color 0.3s ease;
}

.list-item span {
  font-weight: bold;
  color: #333; /* Dark text color */
}

.list-item:active {
  cursor: grabbing;
}

.placeholder {
  background: #e0e0e0;
  pointer-events: none;
  height: 40px;
  border-radius: 5px;
}

.module {
  background: #425376;
  color: white;
  font-weight: bold;
}

.dragging {
  background-color: #b1bace;
}

.module > span {
  color: #fff;
}
