.list {
  background: #4286f4;
  width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.list-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.ghost {
  opacity: 0.4;
}

.list-item {
  background: #8bb3f4;
  padding: 1.5rem 1rem;
  border: 1px solid white;
  margin-bottom: 8px;
}

.placeholder {
  display: none;
  background: #303742;
  pointer-events: none;
}

.module {
  background: rgb(255, 111, 0);
}

.dragging {
  background-color: pink;
}

.list-item {
  cursor: grab;
  user-select: none;
}

.list-item:active {
  cursor: grabbing;
}
