body {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.content {
  width: 100px;
  height: 100px;
  background: green;
  border-radius: 50%;
}

.btn {
  border: none;
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 99px;
}
