html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}


.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}


.grid__column-6 {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
}

.input,
.btn {
    width: 100%;
}

.form__book-table {
    border: 2px solid black;
    padding: 30px;
}

.form__book-heading,
.form__book-title {
    text-align: center;
    margin-bottom: 30px;
}

.form__book-heading {
    font-size: 5rem;
    font-family: "Alfa Slab One", cursive;
}

.form__book-title {
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;

}

.input {
    font-family: "Bebas Neue", sans-serif;
    color: #000;
    height: 50px;
    padding: 0 20px;
    border: 1px solid #d3d3d3;
    outline: none;
    font-size: 20px;
}

.grid__column-6::placeholder {
    color: #000;
}

.grid__column-6 {
    margin-top: 20px;

}

.btn {
    background-color: #b0322b;
    border: none;
    outline: none;
    height: 50px;
    color: #fff;
    border-radius: 5px;
    font-family: "Alfa Slab One", cursive;
    font-size: 15px;
    cursor: pointer;
}