.form_login {
    width: 500px;
}

.form_login_wrapper {
    display: flex;
    gap: 10px;
    padding: 40px 43px;

    justify-items: center;
    flex-direction: column;
    border: 1px solid #fff;
}

.btn_submit {
    width: 33%;
    margin: 0 auto;
    background-color: rgb(8, 230, 255);
}
.form_login {
    height: 100vh;
}

.form_login_input {
    color: #0a36e4 !important;
    font-size: 1.1rem;
}
