body {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

* {
  padding: 0;
  margin: 0;
}

/* .content {
  width: 400px;
  height: 400px;
  background: green;
  max-width: 500x;
} */

.content {
  display: inline-block;
  width: 30%;
}

.content img {
  max-width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}
