* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel {
  position: relative;
  overflow: hidden;
}

.carousel .carousel-inner {
  display: flex;
  /* width: 3150px; */
  transition: translate 0.4s ease;
}

/* .carousel .carousel-inner .item {
  width: 1050px;
} */

/* .carousel .carousel-inner .item:not(.active) {
  display: none;
} */

.carousel .carousel-nav span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  display: block;
  background-color: gray;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.carousel .carousel-nav span.prev {
  left: 5px;
}

.carousel .carousel-nav span.next {
  right: 5px;
}
